<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/for_all_pages_layout}"
      lang="en">
<head>
    <link href="/private/css/searching_style.css" rel="stylesheet">
    <script type="text/javascript" src="/private/js/userInfoModal.js"></script>
    <script type="text/javascript" src="/private/js/search.js"></script>
</head>
<body>
<main role="main" class="container-fluid" layout:fragment="content">
    <table class="grid-table">
        <tr>
            <td>
                <h3><strong>Все пользователи: </strong></h3>
                <!--search-->
                <div class="dropdown">
<!--                    <button onclick="myFunction()" class="btn orng-btn btn-lg" style="margin-left: 40%">Поиск</button>-->
                    <input class="form-control" type="text" placeholder="Поиск..." id="myInput" onkeyup="filterFunction()" onclick="myFunction()">
                    <div id="myDropdown" class="dropdown-content" >
                        <th:block th:each="user, userStat: ${usersList}">
                            <p><button class="for-name-btn" data-toggle="modal" data-target="#exampleModalLong" th:onclick="'getUser(\'' +${user.id}+ '\'); myFunction();'" >
                                <a th:text="${user.name} + ' ' + ${user.surname}"></a>
                            </button></p>
                        </th:block>
                    </div>
                </div>
                <!--   *   -->
            </td>
            <td style="width: 100px;">
                <button type="button" class="btn orng-btn btn-lg" data-toggle="modal" data-target="#exampleModalCenter">
                    <b style="color: white;">Пригласить</b>
                </button>
            </td>
        </tr>
    </table>

    <div class="row" style="margin: 3%">
        <div class="card" style="width: 100%">
            <table class="table">
                <thead>
                <tr>
                    <th>Волонтер</th>
                    <th>Почта</th>
                    <th>Телефон</th>
                    <th>Статус</th>
                    <th>Инфо</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${usersList}">
                    <td th:text="${user.name} + ' ' + ${user.surname}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.phone}"></td>
                    <td th:text="${user.status}" th:id = "${user.id}+'_td_user_stat'"></td>
                    <td><button type="button" class="btn orng-btn" data-toggle="modal" data-target="#exampleModalLong" th:onclick="'getUser(\'' +${user.id}+ '\')'"><span class="glyphicon glyphicon-user" style="color: white;"></span></button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


<!-- Modal for registration user by e-mail-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle1">Введите эл. почту добровольца</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Почта:<br>
                    <input type="text" id="email_input" class="form-control mb-4 col-4" placeholder="Email"/>
                </p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn orng-btn" data-dismiss="modal" onclick="sendReg()">Отправить</button>
            </div>
        </div>
    </div>
</div>

<!-- Всплывающее окно с сообщением об успехе -->
<div id="message-alert"></div>

<!-- Modal with user info -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal" id="block-btn">BLOCK</button>
                    <button type="button" class="btn orng-btn btn-sm" data-toggle="modal" data-target="#exampleModal1" id="unblock-btn">UNBLOCK</button>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="photo" class="text-center"></div>
                <br>
                <table class="table">
                <tr>
                    <td><h6> ФИО: </h6></td>
                    <td><ul class="fio">
                        <li id="surname"></li>
                        <li id="name"></li>
                        <li id="patronymic"></li>
                    </ul>
                    </td>
                </tr>
                <tr>
                    <td><h6> ID: </h6></td><td><h5 id="userId"></h5></td>
                </tr>
                <tr>
                    <td><h6> Почта: </h6></td><td><h5 id="email"></h5></td>
                </tr>
                <tr>
                    <td><h6> Телефон: </h6></td><td><h5 id="phone"></h5></td>
                </tr>
                <tr>
                    <td><h6> Ссылка VK: </h6></td><td><a href="#"><h5 id="vk"></h5></a></td>
                </tr>
                <tr>
                    <td><h6> Профессия: </h6></td><td><h5 id="profession"></h5></td>
                </tr>
                <tr>
                    <td><h6> Статус: </h6></td><td><h5 id="status"></h5></td>
                </tr>
                <tr>
                    <td><h6> Не хочет заниматься: </h6></td><td><h5 id="notToDo"></h5></td>
                </tr>

                </table>
                <h4 align="center" style="color: #002bff;">Проекты</h4>
                <table class="table table-sm">
                    <tr>
                        <td><h6> Менеджер: </h6></td><td><h5 id="projManager" ></h5></td>
                    </tr>
                    <tr>
                        <td><h6> Волонтер: </h6></td><td><h5 id="projVolunteer"></h5></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Submit block-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Подтвердите действие</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Вы действительно хотите заблокировать пользователя?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="blockUser()">Подтвердить</button>
            </div>
        </div>
    </div>
</div>

<!--Submit unblock-->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Подтвердите действия</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Вы действительно хотите разблокировать пользовавтеля?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="unblockUser()">Подтвердить</button>
            </div>
        </div>
    </div>
</div>
</main>
</body>
</html>