body {
    font-size: .875rem;
    background-color: white;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.orng-btn {
    background-color: #ffbb19;
    border-color: #ffbb19;
}

.orng-btn:hover {
    background-color: #ff8e00;
}

ul.fio {
    margin: 0;
    padding: 4px;
}
ul.fio li{
    display: inline;
    margin-right: 5px;
}
/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: #073642;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#1471da, endColorstr=#1C85FB)"; /* IE 8-9 */
    /*background: -webkit-linear-gradient(left, #001428, #073642); !* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 *!*/
    /*background: -moz-linear-gradient(left, #001428, #073642); !* Firefox 3.6-15 *!*/
    /*background: -o-linear-gradient(left, #001428, #073642); !* Opera 11.1-12 *!*/
    background: linear-gradient(45deg, #93D1B5, #54B689); /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: whitesmoke;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: whitesmoke;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: 48px; /* Space for fixed navbar */
    }
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: #54B689;
    box-shadow: #073642;
    color: whitesmoke;
}

.navbar {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
    /*background-color: #c2c2c2;*/
    background-color: #f8f8f8;
}

