
.navbar {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
    background-color: #54B689;
    box-shadow: 0 4px 2px -2px gray;
    /*background: linear-gradient(45deg, #93D1B5, #54B689);*/
}

.card {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-header {
    background-color: #fffab5;
}

body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.dropdown-menu {
    left: auto;
    right: 0;
}







