body {
    font-size: .875rem;
    background-color: #fcfcfc;
    /*background: url(../../public/images/card.jpg)no-repeat 0px 0px;*/
    /*background-size: cover;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*-ms-background-size: cover;*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*text-align:center;*/
}

.yellow-btn {
    background: #ffa500;
    border-color: #ffa500;
    color: white;
}

.yellow-btn:hover {
    background: #d68900;
    color: white;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.orng-btn {
    background-color: #ffbb19;
    border-color: #ffbb19;
    color: white;
}

.orng-btn:hover {
    background-color: #ff8e00;
    color: white;
}

ul.fio {
    margin: 0;
    padding: 4px;
}
ul.fio li{
    display: inline;
    margin-right: 5px;
}

.navbar {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
    background-color: #54B689;
    box-shadow: 0 4px 2px -2px gray;
    /*background: linear-gradient(45deg, #93D1B5, #54B689);*/
}

.card {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-header {
    background-color: gainsboro;
    /*opacity: .2; filter: alpha(opacity=50); background-color: rgba(0, 0, 0, 0.5); transition: all 1s; -webkit-transition: all 1s;*/
}

body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}



.toggle.ios, .toggle-on.ios, .toggle-off.ios {
    border-radius: 20rem;
    float: right;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto Black Italic";

}
h5{
    font-size: 1.7rem;
}