.eco {
    border-radius: 10px;
    border-color: #eeece7;
    border-style: solid;
    border-width: thin;
}

.eco-row {
    margin-top: 10%;
    margin-left: 2px;
    margin-right: 2px;
    position: absolute;
    height: 75%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.eco-column {
    /*max-height: 520px;*/
    /*min-width: 200px !important;*/
    /*overflow: auto;*/

    height: 75%;
    overflow: auto;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 230px;
}

.eco-column-body {
    /*display: block !important;*/
    /*padding-left: 10px !important;*/
    /*padding-right: 10px !important;*/
}

.eco-card {
    /*font-size: small;*/
    /*margin-bottom: 7px;*/
}

.eco-card:hover {
    background-color: rgba(26, 255, 0, 0.09);
}

.eco-card-title {
    /*text-align: left;*/
    /*font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;*/
}

.eco-column-header-extras {
    /*position: absolute;*/
    /*top: 3px;*/
    /*right: 3px;*/
}