::-webkit-scrollbar { width: 2px; height: 10px;}
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #F5F5F5;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}

.eco-card:hover {
    background-color: #dfe6f6;
}

.eco-col {

}

.eco-card {

}
body{
    overflow-y:hidden;
    overflow-x: auto;
    /*height: auto;*/


}

.member {
    background-color: #dfe1e6;
    border-radius: 25em;
    color: #172b4d;
    cursor: pointer;
    /*display: block;*/
    float: left;
    height: 40px;
    width: 40px;
    margin: 0px 0px 4px 16px;
    text-align: center;
    overflow: visible;
    /*position: relative;*/
    /*text-decoration: none;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    /*z-index: 0;*/
}

.member-initials {
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 32px;
    left: 0;
    line-height: 32px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

.member .member-initials {
    height: 28px;
    line-height: 28px;
    width: 28px;
}

.list-card-members {
    float: right;
    margin: 0 -2px 0 0;
}

.list-card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.project-member {

}