<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>

<th:block th:fragment="step5">
    <div class="tab-pane fade" id="STEP_5" role="tabpanel" aria-labelledby="nav-contact-tab">

        <div class="card">
            <div class="card-header">
                <h4>Установка контейнера</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="nav flex-column nav-pills" id="tabList_STEP_5" role="tablist"
                         aria-orientation="vertical" style="width: 27%; margin-right: 3%">
                        <a class="nav-link active" data-toggle="pill" href="#container_report_pil"
                           role="tab" aria-controls="v-pills-home" aria-selected="true">
                            Отчет о установке контейнера
                            <input type="checkbox" id="task_5_1_toggle"
                                   data-toggle="toggle" data-size="xs" data-on=" " data-off=" "
                                   data-onstyle="success" data-offstyle="light" data-style="ios">
                        </a>
                    </div>
                    <div class="tab-content" style="width: 70%" id = "tabContent_STEP_5">
                        <div class="tab-pane fade show active" id="container_report_pil" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div id="task_5_1">
                                    <div id = "new_container_photos">
                                    </div>
                                    <div class="row">
                                    <form enctype="multipart/form-data" method="post" id="imgForm">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="image" id="imgInput" multiple
                                                   aria-describedby="inputGroupFileAddon01">
                                            <label class="custom-file-label" for="imgInput">Выберите фото</label>
                                        </div>
                                    </form>
                                    <button type="button" class="btn btn-outline-primary" style="margin-left: 5px" onclick="save_new_container_photo($('#projectId').val())">Добавить +</button>
                                    </div>
                                <br>
<!--                                //tpdo разкоментировать при добавлении видео-->
<!--                                <div class="input-group">-->
<!--                                    <div class="input-group-prepend">-->
<!--                                        <span class="input-group-text">Видео</span>-->
<!--                                    </div>-->
<!--                                    <div class="custom-file">-->
<!--                                        <input type="file" class="custom-file-input" name="bn" id="videoInput" multiple-->
<!--                                               aria-describedby="inputGroupFileAddon01">-->
<!--                                        <label class="custom-file-label" for="videoInput">Choose file</label>-->
<!--                                    </div>-->
<!--                                </div>-->

                                <br>
                                <label for="container_comment" class="h6">Комментарий:</label>
                                <textarea class="form-control" rows="5" id="container_comment"></textarea>
                                <br>
                                <input id = "container_installation_date" width="276" placeholder="Дата установки">
                                <br>
                                <button type="button" class="btn btn-primary" onclick="saveContainerInfo($('#projectId').val())">Сохранить</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>