<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>

<th:block th:fragment="step7">
    <div class="tab-pane fade" id="STEP_7" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="card">
            <div class="card-header">

                <h4>Описание кейса</h4>
            </div>

                <div class="card-body">
                    <div class="row">
                        <div class="nav flex-column nav-pills"  role="tablist" id = "tabList_STEP_7" aria-orientation="vertical" style="width: 27%; margin-right: 3%">
                            <a class="nav-link active" data-toggle="pill" href="#case_description_pil"
                               role="tab" aria-controls="v-pills-home" aria-selected="true">
                                Описание
                                <input type="checkbox" id="task_7_1_toggle"
                                       data-toggle="toggle" data-size="xs" data-on=" " data-off=" "
                                       data-onstyle="success" data-offstyle="light" data-style="ios">
                            </a>
                        </div>
                        <div class="tab-content" id = "tabContent_STEP_7" style="width: 70%">
                            <h6>Описание кейса</h6>
                            <br/>
                            <textarea class="form-control rounded-0" id = "task_7_1_textarea"></textarea>
                            <br/>
                            <h6>Ссылки на ресурсы</h6>
                            <div id = "case_link_list">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">@</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                </div>

                            </div>
                            <a href="javascript:void(0)" class="text-primary" onclick="addlink()">Ссылка +</a>
                            <div style="margin-top: 10px">
                            <button type="button" class="btn btn-primary" onclick="saveReport()">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</th:block>

</body>
</html>