<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>steps_2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/css/steps.css">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    <style>
        /*.nav-item.nav-link.active{*/
        /*    background: #4c40ff;*/
        /*    color: #eeeeee;*/
        /*}*/
        .done-step{
            background: #cbf8c7;
            color: #89a987;
        }

        .done-task{
            background: #cbf8c7;
            color: #89a987;
        }

    </style>
</head>
<body >

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" data-toggle="tab" href="#step_1"
           role="tab"  aria-controls="nav-home" aria-selected="true" id = "step_1_link">1. Заявитель</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#step_2"
           role="tab" aria-controls="nav-profile" aria-selected="false" id = "step_2_link">2. Управляющая<br>компания</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#step_3"
           role="tab" aria-controls="nav-contact" aria-selected="false" id = "step_3_link">3. Заготовители</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#step_4"
           role="tab" aria-controls="nav-contact" aria-selected="false" id = "step_4_link">4. Заключение<br>договора</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#step_5"
           role="tab" aria-controls="nav-contact" aria-selected="false" id = "step_5_link">5. Установка<br>контейнера</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#step_6"
           role="tab" aria-controls="nav-contact" aria-selected="false" id = "step_6_link">6. Работа с<br>жителями</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#step_7"
           role="tab" aria-controls="nav-contact" aria-selected="false" id = "step_7_link">7. Описание<br>кейса</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#step_8"
           role="tab" aria-controls="nav-contact" aria-selected="false" id = "step_8_link">8. Контроль</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
<!--    1 шаг начало-->
        <div class="tab-pane fade show" id="step_1" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="card-header">
             <h3>Уточнить информацию о заявителе</h3>
             </div>
               <div class="card-body">
                   <div class="row">
                       <div class="nav flex-column nav-pills" id = "1_step_task_pil" role="tablist" aria-orientation="vertical" style="width: 27%; margin-right: 3%" >
                           <div id = "tasks_step_1_nav_pils">
                           <a class="nav-link" id="petitioner_info_pil" data-toggle="pill" href="#v-pills-home"
                              role="tab" aria-controls="v-pills-home" aria-selected="true">
                               Информация о заявителе
                           </a>
                           <a class="nav-link" id="neighbourhood_info_pil" data-toggle="pill" href="#neighbourhood_inf"
                              role="tab" aria-controls="v-pills-profile" aria-selected="false">
                               Информация о соседях
                           </a>
                           <a class="nav-link" data-toggle="pill" href="#container_photo" role="tab" id="old_container_pil"
                              aria-controls="v-pills-profile" aria-selected="false">
                               Фото контейнера
                           </a>
                           <a href="#" class="text-primary" onclick="show_add_task_modal(1)">Задача
                               +</a>
                           </div>
                       </div>
                       <div class="tab-content" style="width: 70%" id = "step_1_task_work_space">
                           <div class="tab-pane fade show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                               <div id="task_1">
                                   <div class="input-group mb-3">
                                       <div class="input-group-prepend">
                                           <span class="input-group-text">ФИО</span>
                                       </div>
                                       <input type="text" class="form-control" placeholder="ФИО заявителя" id = "petitioner_name">
                                   </div>

                                   <div class="input-group mb-3">
                                       <div class="input-group-prepend">
                                           <span class="input-group-text">email</span>
                                       </div>
                                       <input type="text" class="form-control"  placeholder="email" id = "petitioner_email">
                                   </div>

                                   <div class="input-group mb-3">
                                       <div class="input-group-prepend">
                                           <span class="input-group-text">Тел.</span>
                                       </div>
                                       <input type="text" class="form-control"  placeholder="контакная информация" id="petitioner_contacts">
                                   </div>
                                   <div class="h6">Статус</div>
                                   <div class="form-check">
                                       <input type="radio" class="form-check-input" id="resident" name="status" >
                                       <label class="form-check-label">Житель, собственник жилья</label>
                                   </div>
                                   <div class="form-check">
                                       <input type="radio" class="form-check-input" id="manage_representative"
                                              name="status">
                                       <label class="form-check-label">Представитель управляющей организации (УК, ТСЖ и т.п.)</label>
                                   </div>
                                   <br>
                                   <div class="h6">Участвует в деятельности движения "Раздельный сбор"</div>
                                   <div id = "get_activity">
                                   <div class="form-check">
                                       <input type="radio" class="form-check-input activity" id="monthly"
                                              name="activity" value="Участвую в ежемесячных акциях и сдаю своё
                                           вторсырьё">
                                       <label class="form-check-label">Участвую в ежемесячных акциях и сдаю своё
                                           вторсырьё</label>
                                   </div>
                                   <div class="form-check">
                                       <input type="radio" class="form-check-input activity" id="volunteer"
                                              name="activity" value="Волонтер на акциях">
                                       <label class="form-check-label">Волонтер на акциях</label>
                                   </div>

                                   <div class="form-check">
                                       <input type="radio" class="form-check-input activity" id="corrdinator"
                                              name="activity" value="Координатор на акциях">
                                       <label class="form-check-label">Координатор на акциях</label>
                                   </div>

                                   <div class="form-check">
                                       <input type="radio" class="form-check-input activity" id="participant"
                                              name="activity" value="Участник рабочих групп
                                           движения">
                                       <label class="form-check-label" for="participant">Участник рабочих групп
                                           движения</label>
                                   </div>

                                   <div class="form-check">
                                       <input type="radio" class="form-check-input activity" id="no_participate"
                                              name="activity" value="Не принимаю участия в
                                           деятельности движения">
                                       <label class="form-check-label" for="participant">Не принимаю участия в
                                           деятельности движения</label>
                                   </div>

                                   <div class="form-check">
                                       <input type="radio" class="form-check-input" id="another_active"
                                              name="activity">
                                       <label class="form-check-label" for="participant">другое</label>
                                   </div>
                                   <input type="text" class="form-control" id="another_active_input" disabled>
                                   </div>
                                   <br>
                                   <div class="h6">Накопление какого хотелось бы организовать?</div>
                                   <div id = "row_type_input_list">
                                   <div class="form-check">
                                       <input type="checkbox" class="form-check-input" id="paper"  value="Бумага/картон">
                                       <label class="form-check-label">Бумага/картон</label>
                                   </div>
                                   <div class="form-check">
                                       <input type="checkbox" class="form-check-input" id="glass" value="Стекло">
                                       <label class="form-check-label">Стекло</label>
                                   </div>
                                   <div class="form-check">
                                       <input type="checkbox" class="form-check-input" id="metal" value="Металл">
                                       <label class="form-check-label">Металл</label>
                                   </div>
                                   <div class="form-check">
                                       <input type="checkbox" class="form-check-input" id="hard_plastic" value="Твёрдый пластик">
                                       <label class="form-check-label">Твёрдый пластик</label>
                                   </div>
                                   <div class="form-check">
                                       <input type="checkbox" class="form-check-input" id="soft_plastic" value="Мягкий пластик">
                                       <label class="form-check-label">Мягкий пластик</label>
                                   </div>
                                   <div class="form-check">
                                       <input type="checkbox" class="form-check-input" id="tetra_pak" value="Тетрапак">
                                       <label class="form-check-label">Тетрапак</label>
                                   </div>
                                   <div class="form-check">
                                       <input type="checkbox" class="form-check-input" id="organic_waste" value="Органические отходы">
                                       <label class="form-check-label">Органические отходы</label>
                                   </div>
                                   <div class="form-check">
                                       <input type="checkbox" class="form-check-input" id="hazardous_waste" value="Опасные отходы (батарейки, лампочки и т.п.)">
                                       <label class="form-check-label">Опасные отходы (батарейки, лампочки и т.п.)</label>
                                   </div>
                                   <div class="form-check">
                                       <input type="checkbox" class="form-check-input" id="another_waste">
                                       <label class="form-check-label">другое</label>
                                   </div>
                                   <input type="text" class="form-control" id="another_waste_input" disabled>
                                   </div>
                                   <br>

                               </div>

                           </div>

                           <div class="tab-pane fade" id="neighbourhood_inf" role="tabpanel"
                                aria-labelledby="v-pills-profile-tab">
                               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d511638.0496814032!2d29.530301548695494!3d59.93900943041817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696378cc74a65ed%3A0x6dc7673fab848eff!2z0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LM!5e0!3m2!1sru!2sru!4v1566243087100!5m2!1sru!2sru"
                                       width="600" height="450" frameborder="0" style="border:0"
                                       allowfullscreen></iframe>
                           </div>

                           <div class="tab-pane fade" id="container_photo" role="tabpanel"
                                aria-labelledby="v-pills-profile-tab">

                               <div class="input-group">
                                   <div class="input-group-prepend">
                                       <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                   </div>
                                   <div class="custom-file">
                                       <input type="file" class="custom-file-input" id="inputGroupFile01"
                                              aria-describedby="inputGroupFileAddon01">
                                       <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
        </div>
<!--    1 шаг конец-->

    <!--    2 шаг начало-->
    <div class="tab-pane fade show " id="step_2" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="card-header">
            <h3>2. Управляющая компания</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="nav flex-column nav-pills" id = "2_step_task_pil" role="tablist" aria-orientation="vertical" style="width: 27%; margin-right: 3%" >
                <div id = "tasks_step_2_nav_pils">
                    <a class="nav-link active" data-toggle="pill" href="#manage_org_pil"
                       role="tab" aria-controls="v-pills-home" aria-selected="true">
                        Информация о управляющей компании
                    </a>
                </div>
                    <a href="#" class="text-primary" onclick="show_add_task_modal(2)">Задача
                        +</a>
                </div>
                <div class="tab-content" style="width: 70%" id = "step_2_task_work_space">
                    <div class="tab-pane fade show active" id="manage_org_pil" role="tabpanel"
                         aria-labelledby="v-pills-home-tab">
                        <div id="task_2_1">
                            <label><h6>Навзвание организации</h6></label>
                            <input type="text" class="form-control" placeholder="Название" id="management_org_name">
                            <br>
                            <label><h6>Инн</h6></label>
                            <input type="text" class="form-control" placeholder="Инн" id="management_org_inn">
                            <br>
                            <label><h6>ФИО руковолителя</h6></label>
                            <input type="text" class="form-control" placeholder="ФИО руковолителя" id="management_org_fio">
                            <br>
                            <label><h6>Телефон организации</h6></label>
                            <input type="text" class="form-control" placeholder="ФИО руковолителя" id="management_org_tel">
                            <br>
                            <label><h6>email</h6></label>
                            <input type="text" class="form-control" placeholder="ФИО руковолителя" id="management_org_email">
                            <br>
                            <label><h6>Часы приема</h6></label>
                            <input type="text" class="form-control" placeholder="ФИО руковолителя" id="management_org_clock">
                            <br>
                            <label><h6>Отношение к РНО</h6></label>
                            <input type="text" class="form-control" placeholder="ФИО руковолителя"
                                   id="management_org_attitude_to_rno">
                            <br>
                            <label><h6>Дата следующего контакта</h6></label>
                            <input id="datepicker" width="276"/>

                            <label><h6>Комментарий</h6></label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                            <button type="button" class="btn btn-primary">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    2 шаг конец-->

    <!--    3 шаг начало-->
    <div class="tab-pane fade show " id="step_3" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="card-header">
            <h3>3. Заготовитель</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="nav flex-column nav-pills" id = "3_step_task_pil" role="tablist" aria-orientation="vertical" style="width: 27%; margin-right: 3%" >
                    <div id = "tasks_step_3_nav_pils">
                    <!--                           поле для кнопок тасок 3 шага-->
                    </div>
                </div>
                <div class="tab-content" style="width: 70%" id = "step_3_task_work_space">
                    <!--                                поле карточек тасок 3 шага-->
                </div>
            </div>
        </div>
    </div>
    <!--    3 шаг конец-->

    <!--    4 шаг начало-->
    <div class="tab-pane fade show " id="step_4" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="card-header">
            <h3>Договор</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="nav flex-column nav-pills" id = "4_step_task_pil" role="tablist" aria-orientation="vertical" style="width: 27%; margin-right: 3%" >
                    <div id = "tasks_step_4_nav_pils">
                    <!--                           поле для кнопок тасок 4 шага-->
                    </div>
                </div>
                <div class="tab-content" style="width: 70%" id = "step_4_task_work_space">
                    <!--                                поле карточек тасок 4 шага-->
                </div>
            </div>
        </div>
    </div>
    <!--    4 шаг конец-->

    <!--    5 шаг начало-->
    <div class="tab-pane fade show " id="step_5" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="card-header">
            <h3>5. Установка котейнера</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="nav flex-column nav-pills" id = "5_step_task_pil" role="tablist" aria-orientation="vertical" style="width: 27%; margin-right: 3%" >
                    <div id = "tasks_step_5_nav_pils">
                    <!--                           поле для кнопок тасок 5 шага-->
                    </div>
                </div>
                <div class="tab-content" style="width: 70%" id = "step_5_task_work_space">
                    <!--                                поле карточек тасок 5 шага-->
                </div>
            </div>
        </div>
    </div>
    <!--    5 шаг конец-->

    <!--    6 шаг начало-->
    <div class="tab-pane fade show " id="step_6" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="card-header">
            <h3>6. Работа с жителями</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="nav flex-column nav-pills" id = "6_step_task_pil" role="tablist" aria-orientation="vertical" style="width: 27%; margin-right: 3%" >
                    <div id = "tasks_step_6_nav_pils">
                    <!--                           поле для кнопок тасок 6 шага-->
                    </div>
                </div>
                <div class="tab-content" style="width: 70%" id = "step_6_task_work_space">
                    <!--                                поле карточек тасок 6 шага-->
                </div>
            </div>
        </div>
    </div>
    <!--    6 шаг конец-->

    <!--    7 шаг начало-->
    <div class="tab-pane fade show " id="step_7" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="card-header">
            <h3>Описание кейса</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="nav flex-column nav-pills" id = "7_step_task_pil" role="tablist" aria-orientation="vertical" style="width: 27%; margin-right: 3%" >
                    <div id = "tasks_step_7_nav_pils">
                    <!--                           поле для кнопок тасок 7 шага-->
                    </div>
                </div>
                <div class="tab-content" style="width: 70%" id = "step_7_task_work_space">
                    <!--                                поле карточек тасок 7 шага-->
                </div>
            </div>
        </div>
    </div>
    <!--    7 шаг конец-->

    <!--    8 шаг начало-->
    <div class="tab-pane fade show " id="step_8" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="card-header">
            <h3>8. Контроль</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="nav flex-column nav-pills" id = "8_step_task_pil" role="tablist" aria-orientation="vertical" style="width: 27%; margin-right: 3%" >
                    <div id = "tasks_step_8_nav_pils">
                    <!--                           поле для кнопок тасок 8 шага-->
                    </div>
                </div>
                <div class="tab-content" style="width: 70%" id = "step_8_task_work_space">
                    <!--                                поле карточек тасок 8 шага-->
                </div>
            </div>
        </div>
    </div>
    <!--    8 шаг конец-->
</div>

<div class="modal fade" id="add_task_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавление задачи</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label><h6>Название задачи</h6></label>
                <input type="text" class="form-control" placeholder="Название задачи" id="name_of_task">
                <br>
                <br>
                <label><h6>Описание задачи</h6></label>
                <textarea class="form-control" rows="5" id="description_of_task"></textarea>
                <input type="hidden" id="step_number_create_task">
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                <button type="button" class="btn btn-primary" onclick="add_task(document.getElementById('step_number_create_task').value)">Добавить</button>
            </div>
        </div>
    </div>
</div>
<script th:inline="text">

    var projectId = [[${projectid}]]
    $( document ).ready(function () {
        $.ajax({
            url: "/api/projects/" + projectId,
            type: "GET",
            async: false,
            success: function (project) {
                steps_status(project);
            },
            error: function (e) {
                alert(e.responseText);
            }
        })
    });

    function show_add_task_modal(stepnumber) {
        $('#step_number_create_task').val("");
        $('#step_number_create_task').val(stepnumber);
        $('#add_task_modal').modal('show');
    }

    function add_task(stepnumber){
        $.ajax({
            type: 'post',
            url: "/api/tasks/add?" +
                "project_id=" + projectId+
                "&step_number="+stepnumber+
                "&taskName="+$('#name_of_task').val()+
                "&description="+$('#description_of_task').val(),
            contentType: 'application/json; charset=utf-8',
            success: function (task) {
                $('#step_'+stepnumber+'_task_work_space').append(
                    '<div class="tab-pane fade" id="'+task.id+'_custom_task" role="tabpanel" aria-labelledby="v-pills-home-tab">' +
                    '<h3>'+task.name+'</h3>' +
                    '<br><br>' +
                    '<h5>Описание:</h5>' +
                    '<div>'+task.description+'</div>' +
                    '</div>');

                $('#tasks_step_'+stepnumber+'_nav_pils').append('<a class="nav-link" data-toggle="pill" href="#'+task.id+'_custom_task"' +
                    'role="tab" aria-controls="v-pills-home" aria-selected="true">'+task.name+'</a>');
                $('#add_task_modal').modal('hide');

            },
            error: function (error) {
                console.log(error);
                alert(error.responseText);
            }
        })
    }

    function steps_status(project){
        $.ajax({
            url: "/api/steps/get_by_project_id/" + project.id,
            type: "GET",
            async: false,
            success: function (steps) {
                let b;
                for(let i = 0; i<steps.length; i++){
                    if(steps[i].status=='DONE'){
                        b = i+1;
                        $('#step_'+b+'_link').addClass('done-step');
                    }
                    if(steps[i].status=='IN_PROGRESS'){
                        b = i + 1;
                        $('#step_'+b+'_link').addClass('active');
                        $('#step_'+b).addClass('active');
                        if(steps[i].stepNumber =='STEP_1'){
                            tasks_status_by_step_1(steps[i].id)
                        }

                    }
                }
            },
            error: function (e) {
                alert(e.responseText);
            }
        })
    }

    function tasks_status_by_step_1(stepId){
        $.ajax({
            url: "/api/tasks/get_1_step/" + stepId,
            type: "GET",
            async: false,
            success: function (tasks) {
                let b;
                for(let i = 0; i<tasks.length; i++){
                    let taskLinkStatusClass = " ";
                    let taskBodyCalssActive =" ";
                    let taskBodyClassShow = " ";

                    if(tasks[i].taskStatus == 'DONE'){
                        taskLinkStatusClass ='done-task';
                    }
                    if(tasks[i].taskStatus == 'IN_PROGRESS'){
                        taskLinkStatusClass ='active';
                        taskBodyCalssActive ='active';
                        taskBodyClassShow = 'show';
                    }
                    if(tasks[i].type == 'PETITIONER_INFO'){
                        $('#petitioner_info_pil').addClass(taskLinkStatusClass);
                        $('#v-pills-home').addClass(taskBodyCalssActive);
                        $('#v-pills-home').addClass(taskBodyClassShow);
                        getPetition(tasks[i].step.project.id);
                    }
                    if(tasks[i].type == 'NEIGHBOURHOODS_INFO'){
                        $('#neighbourhood_info_pil').addClass(taskLinkStatusClass);
                        $('#neighbourhood_inf').addClass(taskBodyCalssActive);
                        $('#neighbourhood_inf').addClass(taskBodyClassShow);
                        //todo
                    }
                    if(tasks[tasks[i].type == 'OLD_CONTAINER_PHOTO']){
                        $('#old_container_pil').addClass(taskLinkStatusClass);
                        $('#container_photo').addClass(taskBodyCalssActive);
                        $('#container_photo').addClass(taskBodyClassShow);
                        //todo
                    }
                    //todo custom tasks
                }
            },
            error: function (e) {
                alert(e.responseText);
            }
        })
    }

function getPetition(projectId) {
    $.ajax({
        url: "/api/petition/get_by_project_id/" + projectId,
        type: "GET",
        async: false,
        success: function (petition) {
            //todo распарсить петицию по полям
            $('#petitioner_name').val(petition.userName);
            $('#petitioner_email').val(petition.email);
            $('#petitioner_contacts').val(petition.contactInformation);
            if(petition.statusHome=='Житель, собственник жилья'){
                $("#resident").prop('checked', true);
            }
            if(petition.statusHome == 'Представитель управляющей организации (УК, ТСЖ и т.п.)'){
                $("#manage_representative").prop('checked', true);
            }
            $('#get_activity input').each(function () {
                if(this.value==petition.separateCollection){//todo сделать проверку на вариант "другое"
                    this.setAttribute('checked', true);
                }
            });

            $('#row_type_input_list input').each(function () {//todo сделать проверку на вариант "другое"
                if(this.value==petition.typeOfRawMaterial){
                    this.setAttribute('checked', true);
                }
            });

        }, error: function (e) {
            alert(e.responseText)
        }
    })
}


        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");


        (function () {
            var originalAddClassMethod = jQuery.fn.addClass;
            var originalRemoveClassMethod = jQuery.fn.removeClass;

            jQuery.fn.addClass = function () {
                var result = originalAddClassMethod.apply(this, arguments);
                jQuery(this).trigger('classChanged');
                return result;
            }
            jQuery.fn.removeClass = function () {
                var result = originalRemoveClassMethod.apply(this, arguments);
                jQuery(this).trigger('classChanged');
                return result;
            }
        })();


</script>
</body>
</html>