<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/"/>
<!--    <script type="text/javascript" src="/private/js/step8.js"></script>-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--    <link href="/private/css/step8.css" rel="stylesheet">-->
</head>
<body>

<div class="card">
    <div class="card-header">
        <h4>Контроль</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="nav flex-column nav-pills"  role="tablist"
                 aria-orientation="vertical" style="width: 27%; margin-right: 3%">
                <a class="nav-link active" data-toggle="pill" href="#check_point_control_pil"
                   role="tab" aria-controls="v-pills-home" aria-selected="true">
                    Точка контроля
                </a>
                <a href="#" class="text-primary" data-toggle="modal" data-target="#add_task_modal">Задача
                    +</a>
            </div>
            <div class="tab-content" style="width: 70%">
                <div class="tab-pane fade show active" id="check_point_control_pil" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Добавить точку контроля
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Добавить точку контроля</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div id="task_8_1">
                                        <label><h6>Название</h6></label>
                                        <input id="check_point_name" type="text" class="form-control" placeholder="Название">
                                        <br>
                                        <label><h6>Описание</h6></label>
                                        <textarea id="check_point_comment" class="form-control" rows="5" placeholder="Описание"></textarea>
                                        <br>
                                        <label><h6>Дата контроля</h6></label>
                                        <br>
                                        <input id = "check_point_date" width="276" placeholder="Дата">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                    <button type="button" class="btn btn-primary" onclick="saveCheckPointInfo()">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Calendar Button -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
                        Клетка календаря
                    </button>
                    <!-- Modal for comment-->

                    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel1">Добавить точку контроля</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <label><h6>Название</h6></label>
                                        <h5 th:text="${checkPoint.name}"></h5>
                                        <br>
                                        <label><h6>Описание</h6></label>
                                        <h5 th:text="${checkPoint.description}"></h5>
                                        <br>
                                        <label><h6>Дата контроля</h6></label>
                                        <br>
                                        <h5 th:text="${checkPoint.date}"></h5>
                                        <label><h6>Комментарий</h6></label>
                                        <textarea id="check_point_comment" class="form-control" rows="5" placeholder="Комментарий" th:text="${checkPoint.comment}"></textarea>
                                        <br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                    <button type="button" class="btn btn-primary" onclick="saveCheckPointComment()">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<script>

    //let projectId = [[${projectid}]];
    //
    // $( document ).ready(function () {
    //     $('#check_point_date').datepicker({
    //         format: 'yyyy-mm-dd',
    //         uiLibrary: 'bootstrap4'
    //     });
    // });

        function saveCheckPointInfo() {
            let checkPoint = {
                'name': $('#check_point_name').val(),
                'description': $('#check_point_comment').val(),
                'date': $('#check_point_date').val(),
            };
            $.ajax({
                url: "/manage/add_check_point?projectid=" + 1,
                type: "POST",
                data: checkPoint,
                async: false,
                success: function (response) {
                    console.log(response.responseText);
                },
                error: function (e) {
                    console.error(e.responseText);

                }
            });
        }



    // function saveCheckPointComment() {
    //
    // }



</script>
</body>
</html>