<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>steps_2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
</head>
<nlin>
            <th:block th:fragment="step_1">
            <div class="card">
                <div class="card-header">
                    <h3>Уточнить информацию о заявителе</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical" style="width: 27%; margin-right: 3%">
                            <a class="nav-link active" id="petitioner_info_pil" data-toggle="pill" href="#v-pills-home"
                               role="tab" aria-controls="v-pills-home" aria-selected="true">
                                Информация о заявителе
                            </a>
                            <a class="nav-link" id="neighbourhood_info_pil" data-toggle="pill" href="#neighbourhood_inf"
                               role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                Информация о соседях
                            </a>
                            <a class="nav-link" data-toggle="pill" href="#container_photo" role="tab" id="old_container_pil"
                               aria-controls="v-pills-profile" aria-selected="false">
                                Фото контейнера
                            </a>
                            <a href="#" class="text-primary" data-toggle="modal" data-target="#add_task_modal">Задача
                                +</a>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent" style="width: 70%">

<!--                            dfwtgwe-->
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <div id="task_1">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">ФИО</span>
                                        </div>
                                        <input type="text" class="form-control" th:value="${petition.userName}"  placeholder="ФИО заявителя">
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">email</span>
                                        </div>
                                        <input type="text" class="form-control" th:value="${petition.email}" placeholder="email">
                                    </div>

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Тел.</span>
                                        </div>
                                        <input type="text" class="form-control" th:value="${petition.contactInformation}" placeholder="контакная информация">
                                    </div>
                                    <div class="h6">Статус</div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="resident" name="status" th:attrappend="checked =${petition.statusHome.equals('Житель, собственник жилья')}? checked : null">
                                        <label class="form-check-label">Житель, собственник жилья</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="manage_representative" th:attrappend="checked =${petition.statusHome.equals('Представитель управляющей организации (УК, ТСЖ и т.п.)')}? checked : null"
                                               name="status">
                                        <label class="form-check-label">Представитель управляющей организации (УК, ТСЖ и т.п.)</label>
                                    </div>
                                    <br>
                                    <div class="h6">Участвует в деятельности движения "Раздельный сбор"</div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input activity" id="monthly" th:attrappend="checked =${petition.separateCollection.equals('Участвую в ежемесячных акциях и сдаю своё вторсырьё')}? checked : null"
                                               name="activity">
                                        <label class="form-check-label">Участвую в ежемесячных акциях и сдаю своё
                                            вторсырьё</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input activity" id="volunteer" th:attrappend="checked =${petition.separateCollection.equals('Волонтер на акциях')}? checked : null"
                                               name="activity">
                                        <label class="form-check-label">Волонтер на акциях</label>
                                    </div>

                                    <div class="form-check">
                                        <input type="radio" class="form-check-input activity" id="corrdinator" th:attrappend="checked =${petition.separateCollection.equals('Координатор на акциях')}? checked : null"
                                               name="activity">
                                        <label class="form-check-label">Координатор на акциях</label>
                                    </div>

                                    <div class="form-check">
                                        <input type="radio" class="form-check-input activity" id="participant" th:attrappend="checked =${petition.separateCollection.equals('Участник рабочих групп движения')}? checked : null"
                                               name="activity">
                                        <label class="form-check-label" for="participant">Участник рабочих групп
                                            движения</label>
                                    </div>

                                    <div class="form-check">
                                        <input type="radio" class="form-check-input activity" id="no_participate" th:attrappend="checked =${petition.separateCollection.equals('Не принимаю участия в деятельности движения')}? checked : null"
                                               name="activity">
                                        <label class="form-check-label" for="participant">Не принимаю участия в
                                            деятельности движения</label>
                                    </div>

                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="another_active"
                                               name="activity">
                                        <label class="form-check-label" for="participant">другое</label>
                                    </div>
                                    <input type="text" class="form-control" id="another_active_input" disabled>
                                    <br>
                                    <div class="h6">Накопление какого хотелось бы организовать?</div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="paper" th:attrappend="checked =${petition.typeOfRawMaterial.equals('Бумага/картон')}? checked : null" >
                                        <label class="form-check-label">Бумага/картон</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="glass" th:attrappend="checked =${petition.typeOfRawMaterial.equals('Стекло')}? checked : null">
                                        <label class="form-check-label">Стекло</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="metal" th:attrappend="checked =${petition.typeOfRawMaterial.equals('Металл')}? checked : null">
                                        <label class="form-check-label">Металл</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="hard_plastic" th:attrappend="checked =${petition.typeOfRawMaterial.equals('Твёрдый пластик')}? checked : null">
                                        <label class="form-check-label">Твёрдый пластик</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="soft_plastic" th:attrappend="checked =${petition.typeOfRawMaterial.equals('Мягкий пластик')}? checked : null">
                                        <label class="form-check-label">Мягкий пластик</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="tetra_pak" th:attrappend="checked =${petition.typeOfRawMaterial.equals('Тетрапак')}? checked : null">
                                        <label class="form-check-label">Тетрапак</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="organic_waste" th:attrappend="checked =${petition.typeOfRawMaterial.equals('Органические отходы')}? checked : null">
                                        <label class="form-check-label">Органические отходы</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="hazardous_waste" th:attrappend="checked =${petition.typeOfRawMaterial.contains('Опасные отходы (батарейки, лампочки и т.п.)')}? checked : null">
                                        <label class="form-check-label">Опасные отходы (батарейки, лампочки и
                                            т.п.)</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="another_waste">
                                        <label class="form-check-label">другое</label>
                                    </div>
                                    <input type="text" class="form-control" id="another_waste_input" disabled>
                                    <br>

                                </div>

                            </div>
                            <div class="tab-pane fade" id="neighbourhood_inf" role="tabpanel"
                                 aria-labelledby="v-pills-profile-tab">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d511638.0496814032!2d29.530301548695494!3d59.93900943041817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696378cc74a65ed%3A0x6dc7673fab848eff!2z0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LM!5e0!3m2!1sru!2sru!4v1566243087100!5m2!1sru!2sru"
                                        width="600" height="450" frameborder="0" style="border:0"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="tab-pane fade" id="container_photo" role="tabpanel"
                                 aria-labelledby="v-pills-profile-tab">

                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                                               aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>
            </th:block>
        <!--Конец 1 шага-->

        <!--начало 2 шага-->
            <th:block th:fragment="step_2">
            <div class="card">
                <div class="card-header">
                    <h1>
                        Управляющая орагизация
                    </h1>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="nav flex-column nav-pills" role="tablist"
                             aria-orientation="vertical" style="width: 27%; margin-right: 3%">
                            <a class="nav-link active" data-toggle="pill" href="#manage_org_pil"
                               role="tab" aria-controls="v-pills-home" aria-selected="true">
                                Информация о управляющей компании
                            </a>

                            <a href="#" class="text-primary" data-toggle="modal" data-target="#add_task_modal">Задача
                                +</a>
                        </div>
                        <div class="tab-content" style="width: 70%">
                            <div class="tab-pane fade show active" id="manage_org_pil" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <div id="task_2_1">
                                    <label><h6>Навзвание организации</h6></label>
                                    <input type="text" class="form-control" placeholder="Название" th:value="${mencompany.name}" id="management_org_name">
                                    <br>
                                    <label><h6>Инн</h6></label>
                                    <input type="text" class="form-control" placeholder="Инн" id="management_org_inn">
                                    <br>
                                    <label><h6>ФИО руковолителя</h6></label>
                                    <input type="text" class="form-control" placeholder="ФИО руковолителя" id="management_org_fio">
                                    <br>
                                    <label><h6>Телефон организации</h6></label>
                                    <input type="text" class="form-control" placeholder="ФИО руковолителя" id="management_org_tel">
                                    <br>
                                    <label><h6>email</h6></label>
                                    <input type="text" class="form-control" placeholder="ФИО руковолителя" id="management_org_email">
                                    <br>
                                    <label><h6>Часы приема</h6></label>
                                    <input type="text" class="form-control" placeholder="ФИО руковолителя" id="management_org_clock">
                                    <br>
                                    <label><h6>Отношение к РНО</h6></label>
                                    <input type="text" class="form-control" placeholder="ФИО руковолителя"
                                           id="management_org_attitude_to_rno">
                                    <br>
                                    <label><h6>Дата следующего контакта</h6></label>
                                    <input id="datepicker" width="276"/>

                                    <label><h6>Комментарий</h6></label>
                                    <textarea class="form-control" rows="5" id="comment"></textarea>
                                    <button type="button" class="btn btn-primary">Сохранить</button>
                                </div>
                            </div>

                            <div class="tab-pane fade show active" id="next_task" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <div id="task_2_2">
                                    <h1>Next task</h1>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
            </th:block>
        <!--конец 2 шага-->

        <!--начало 3 шага-->
            <th:block th:fragment="step_3">
            <div class="card">
                <div class="card-header">
                    <h4>Взаимодействие с заготовителями</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="nav flex-column nav-pills"  role="tablist"
                             aria-orientation="vertical" style="width: 27%; margin-right: 3%">
                            <a class="nav-link active" data-toggle="pill" href="#contractor_list_pil"
                               role="tab" aria-controls="v-pills-home" aria-selected="true">
                                Список заготовителей
                            </a>
                            <a class="nav-link" data-toggle="pill" href="#check_point_pil"
                               role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                Точка контроля
                            </a>
                            <!--<a class="nav-link" data-toggle="pill" href="#container_photo" role="tab"-->
                            <!--aria-controls="v-pills-profile" aria-selected="false">-->
                            <!--Фото контейнера-->
                            <!--</a>-->
                            <a href="#" class="text-primary" data-toggle="modal" data-target="#add_task_modal">Задача
                                +</a>
                        </div>
                        <div class="tab-content" style="width: 70%">
                            <div class="tab-pane fade show active" id="contractor_list_pil" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <div id="task_3_1">
                                    <table class="table table-hover">
                                        <tbody>
                                        <tr>
                                            <th scope="row" >1</th>
                                            <td data-toggle="modal" data-target="#contractor_modal">ООО "Рога и Копыта"</td>
                                            <td><div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Коментарий
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <textarea class="form-control rounded-0"></textarea>
                                                </div>
                                            </div></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id = "1" onclick="getData(this.id)">
                                                        Назначить встречу
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <input id = "1_datapiker" placeholder="назначить встречу">
                                                        <button class="btn btn-success" type="button" onclick="appoint(1)">назначить</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td data-toggle="modal" data-target="#contractor_modal"> ООО "Ромашка" </td>
                                            <td><div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Коментарий
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <textarea class="form-control rounded-0"></textarea>
                                                </div>
                                            </div></td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id = "2" onclick="getData(this.id)">
                                                        Назначить встречу
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <input id = "2_datapiker" placeholder="назначить встречу">
                                                        <button class="btn btn-success" onclick="appoint(2)" type="button">назначить</button>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <button type="button" class="btn btn-outline-primary">Добавить заготовителя +</button>
                                </div>
                            </div>

                            <div class="tab-pane fade show active" id="check_point_pil" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <div id="task_3_2">
                                    <h5>Описание таски</h5>
                                    <h6>Сделать до:</h6>
                                    <div class="form-group">
                                        <label for="comment">Комментарий:</label>
                                        <textarea class="form-control" rows="5"></textarea>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
            </th:block>
        <!--конец 3 шага-->

        <!--начало 4 шага-->
            <th:block th:fragment="step_4">
            <div class="card">
                <div class="card-header">
                    <h4>Взаимодействие с заготовителями</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="nav flex-column nav-pills"  role="tablist"
                             aria-orientation="vertical" style="width: 27%; margin-right: 3%">
                            <a class="nav-link active" data-toggle="pill" href="#offer_pil"
                               role="tab" aria-controls="v-pills-home" aria-selected="true">
                                Договор
                            </a>
                            <a href="#" class="text-primary" data-toggle="modal" data-target="#add_task_modal">Задача
                                +</a>
                        </div>
                        <div class="tab-content" style="width: 70%">
                            <div class="tab-pane fade show active" id="offer_pil" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <div id="task_4_1">
                                    <h5>Название договора</h5>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut efficitur tortor. Pellentesque tincidunt nunc tellus, nec interdum leo commodo maximus. Mauris blandit metus ac tellus maximus mattis. Vivamus egestas euismod leo blandit luctus. Ut vitae consectetur lorem. Maecenas facilisis, orci eu pharetra aliquam, urna ipsum porta erat, sit amet bibendum risus tortor nec erat. Cras vel faucibus turpis. Maecenas pharetra malesuada dui et vulputate. Proin pharetra ultricies magna, vel congue felis. Ut commodo mauris quis sem aliquet fermentum. Sed lacus nisl, pellentesque ut lacus ut, interdum tincidunt turpis. Proin et mollis libero.
                                    <br>
                                    <h5>Название договора</h5>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut efficitur tortor. Pellentesque tincidunt nunc tellus, nec interdum leo commodo maximus. Mauris blandit metus ac tellus maximus mattis. Vivamus egestas euismod leo blandit luctus. Ut vitae consectetur lorem. Maecenas facilisis, orci eu pharetra aliquam, urna ipsum porta erat, sit amet bibendum risus tortor nec erat. Cras vel faucibus turpis. Maecenas pharetra malesuada dui et vulputate. Proin pharetra ultricies magna, vel congue felis. Ut commodo mauris quis sem aliquet fermentum. Sed lacus nisl, pellentesque ut lacus ut, interdum tincidunt turpis. Proin et mollis libero.
                                    <br>
                                    <label for="comment" class="h6">Комментарий:</label>
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
            </th:block>
        <!--конец 4 шага-->

        <!--начало 5 шага-->
            <th:block th:fragment="step_5">
            <div class="card">
                <div class="card-header">
                    <h4>Установка контейнера</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="nav flex-column nav-pills"  role="tablist"
                             aria-orientation="vertical" style="width: 27%; margin-right: 3%">
                            <a class="nav-link active" data-toggle="pill" href="#container_report_pil"
                               role="tab" aria-controls="v-pills-home" aria-selected="true">
                                Отчет о установке контейнера
                            </a>
                            <a href="#" class="text-primary" data-toggle="modal" data-target="#add_task_modal">Задача
                                +</a>
                        </div>
                        <div class="tab-content" style="width: 70%">
                            <div class="tab-pane fade show active" id="container_report_pil" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <div id="task_5_1">

                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Фото</span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input"
                                                   aria-describedby="inputGroupFileAddon01">
                                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Видео</span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input"
                                                   aria-describedby="inputGroupFileAddon01">
                                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                        </div>
                                    </div>
                                    <br>
                                    <label for="comment" class="h6">Комментарий:</label>
                                    <textarea class="form-control" rows="5"></textarea>
                                    <br>
                                    <input id = "container_installation_date" placeholder="дата установки">
                                    <button class="btn btn-success" type="button" onclick="get_cont_instal_date()">Установить дату</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
            </th:block>
        <!--конец 5 шага-->

        <!--начало 6 шага-->
            <th:block th:fragment="step_6">
            <div class="card">
                <div class="card-header">
                    <h4>Работа с жителями</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="nav flex-column nav-pills"  role="tablist"
                             aria-orientation="vertical" style="width: 27%; margin-right: 3%">
                            <a class="nav-link active" data-toggle="pill" href="#leaflets_layout_pil"
                               role="tab" aria-controls="v-pills-home" aria-selected="true">
                                Разработка макета листовок
                            </a>

                            <a class="nav-link" data-toggle="pill" href="#print_leaflets_pil"
                               role="tab" aria-controls="v-pills-home" aria-selected="true">
                                Печать листовок
                            </a>

                            <a class="nav-link" data-toggle="pill" href="#publication_leaflets_pil"
                               role="tab" aria-controls="v-pills-home" aria-selected="true">
                                Публикация листовок
                            </a>

                            <a class="nav-link" data-toggle="pill" href="#residents_activities_pil"
                               role="tab" aria-controls="v-pills-home" aria-selected="true">
                                Мероприятия с жителями
                            </a>
                            <a href="#" class="text-primary" data-toggle="modal" data-target="#add_task_modal">Задача
                                +</a>
                        </div>
                        <div class="tab-content" style="width: 70%">
                            <div class="tab-pane fade show active" id="leaflets_layout_pil" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <div id="task_6_1">
                                    <h5>Разработка макета листовок</h5>
                                </div>
                            </div>

                            <div class="tab-pane fade show " id="print_leaflets_pil" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <div id="task_6_2">
                                    <h5>Печать листовок</h5>
                                </div>
                            </div>

                            <div class="tab-pane fade show" id="publication_leaflets_pil" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <div id="task_6_3">
                                    <h5>Публикация листовок</h5>

                                </div>
                            </div>

                            <div class="tab-pane fade show" id="residents_activities_pil" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <div id="task_6_4">
                                    <h5>Мероприятия с жителями</h5>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
            </th:block>
        <!--конец 6 шага-->

        <!--начало 7 шага-->
            <th:block th:fragment="step_7">
            <div class="card">
                <div class="card-header">
                    <h4>Описание кейса</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="nav flex-column nav-pills"  role="tablist"
                             aria-orientation="vertical" style="width: 27%; margin-right: 3%">
                            <a class="nav-link active" data-toggle="pill" href="#case_description_pil"
                               role="tab" aria-controls="v-pills-home" aria-selected="true">
                                Описание
                            </a>
                            <a href="#" class="text-primary" data-toggle="modal" data-target="#add_task_modal">Задача
                                +</a>
                        </div>
                        <div class="tab-content" style="width: 70%">
                            <div class="tab-pane fade show active" id="case_description_pil" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <div id="task_7_1">
                                    <h6>Описание кейса</h6>
                                    <br/>
                                    <textarea class="form-control rounded-0"></textarea>
                                    <br/>
                                    <h6>Ссылки на ресурсы</h6>
                                    <div id = "case_link_list">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">@</span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <a href="#" class="text-primary" onclick="addlink()">Ссылка +</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
            </th:block>
        <!--конец 7 шага-->

        <!--начало 8 шага-->
            <th:block th:fragment="step_8">
            <div class="card">
                <div class="card-header">
                    <h4>Контроль</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="nav flex-column nav-pills"  role="tablist"
                             aria-orientation="vertical" style="width: 27%; margin-right: 3%">
                            <a class="nav-link active" data-toggle="pill" href="#check_point_control_pil"
                               role="tab" aria-controls="v-pills-home" aria-selected="true">
                                Точка контроля
                            </a>
                            <a href="#" class="text-primary" data-toggle="modal" data-target="#add_task_modal">Задача
                                +</a>
                        </div>
                        <div class="tab-content" style="width: 70%">
                            <div class="tab-pane fade show active" id="check_point_control_pil" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <div id="task_8_1">
                                    <label><h6>Комментарий</h6></label>
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
            </th:block>
        <!--конец 8 шага-->

            <th:block th:fragment="add_task_modal">
        <!-- Модальное окно добавления таски -->
        <div class="modal fade" id="add_task_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
            </th:block>
        <!-- Модальное окно информации о заготовителе -->
            <th:block th:fragment="contaractor_information_modal">
        <div class="modal fade" id="contractor_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
            </th:block>
    </div>
</div>


<script th:inline="javascript">



    $("#another_active").change(function () {
        if (this.checked) {
            $("#another_active_input").attr('disabled', false)
        }
    });

    $(".activity").change(function () {
        if (this.checked) {
            $("#another_active_input").attr('disabled', true);
        }
    });

    $("#another_waste").change(function () {
        if (this.checked) {
            $("#another_waste_input").attr('disabled', false)
        } else if (!this.checked) {
            $("#another_waste_input").attr('disabled', true)
        }
    });

    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4'
    });

    function getData(id) {
        $('#'+id+'_datapiker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    }

    function appoint(id){
        alert($('#'+id+'_datapiker').val());
    }

    $('#container_installation_date').datepicker({
        uiLibrary: 'bootstrap4'
    });

    function get_cont_instal_date() {
        alert($('#container_installation_date').val());
    }

    function addlink() {
        $('#case_link_list').append('<div class="input-group mb-3">' +
            '<div class="input-group-prepend">' +
            '<span class="input-group-text" id="basic-addon1">@</span>' +
            '</div>' +
            '<input type="text" class="form-control" placeholder="Ссылка" aria-label="Username" aria-describedby="basic-addon1">' +
            '</div>');
    }


</script>
</body>
</html>