<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>steps_2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/css/steps.css">
    <!--    <link rel = "stylesheet" href="/public/bootstrap/css/bootstrap.css" >-->
<!--    <link rel = "stylesheet" href="/public/bootstrap/css/bootstrap-grid.css" >-->
<!--    <link rel = "stylesheet" href="/public/bootstrap/css/bootstrap-reboot.css" >-->
<!--    <script src="/public/bootstrap/js/bootstrap.bundle.js" type="text/javascript"></script>-->
<!--    <script src="/public/bootstrap/js/bootstrap.js" type="text/javascript"></script>-->
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    <style>
        .nav-item.nav-link.active{
            background: #4c40ff;
            color: #eeeeee;
        }
        .done-step{
            background: #cbf8c7;
            color: #89a987;
        }

    </style>
</head>
<body>
<input type="text" th:value="${steps[0].status}">
<!--<button type="button" onclick="showMes()">show</button>-->
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" data-toggle="tab" href="#step_1"
           th:classappend="${steps[0].status.name().equals('IN_PROGRESS')} ? active : (${steps[0].status.name().equals('DONE')}? done-step: null)"
           role="tab"  aria-controls="nav-home" aria-selected="true" id = "step_1_link">1. Заявитель</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#step_2"
           th:classappend="${steps[1].status.name().equals('IN_PROGRESS')} ? active : (${steps[1].status.name().equals('DONE')}? done-step: null)"
           role="tab" aria-controls="nav-profile" aria-selected="false" id = "step_2_link">2. Управляющая<br>компания</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#step_3"
           th:classappend="${steps[2].status.name().equals('IN_PROGRESS')} ? active : (${steps[2].status.name().equals('DONE')}? done-step: null)"
           role="tab" aria-controls="nav-contact" aria-selected="false" id = "step_3_link">3. Заготовители</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#step_4"
           th:classappend="${steps[3].status.name().equals('IN_PROGRESS')} ? active : (${steps[3].status.name().equals('DONE')}? done-step: null)"
           role="tab" aria-controls="nav-contact" aria-selected="false" id = "step_4_link">4. Заключение<br>договора</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#step_5"
           th:classappend="${steps[4].status.name().equals('IN_PROGRESS')} ? active : (${steps[4].status.name().equals('DONE')}? done-step: null)"
           role="tab" aria-controls="nav-contact" aria-selected="false" id = "step_5_link">5. Установка<br>контейнера</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#step_6"
           th:classappend="${steps[5].status.name().equals('IN_PROGRESS')} ? active : (${steps[5].status.name().equals('DONE')}? done-step: null)"
           role="tab" aria-controls="nav-contact" aria-selected="false" id = "step_6_link">6. Работа с<br>жителями</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#step_7"
           th:classappend="${steps[6].status.name().equals('IN_PROGRESS')} ? active : (${steps[6].status.name().equals('DONE')}? done-step: null)"
           role="tab" aria-controls="nav-contact" aria-selected="false" id = "step_7_link">7. Описание<br>кейса</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#step_8"
           th:classappend="${steps[7].status.name().equals('IN_PROGRESS')} ? active : (${steps[7].status.name().equals('DONE')}? done-step: null)"
           role="tab" aria-controls="nav-contact" aria-selected="false" id = "step_8_link">8. Контроль</a>
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show " th:classappend="${steps[0].status.name().equals('IN_PROGRESS')} ? active : null" id="step_1" role="tabpanel" aria-labelledby="nav-home-tab">
        <th:block th:replace="steps/steps :: step_1"></th:block>
    </div>
    <div class="tab-pane fade show" th:classappend="${steps[1].status.name().equals('IN_PROGRESS')} ? active : null" id="step_2" role="tabpanel" aria-labelledby="nav-home-tab">
        <th:block th:replace="steps/steps :: step_2"></th:block>
    </div>
    <div class="tab-pane fade show" th:classappend="${steps[2].status.name().equals('IN_PROGRESS')} ? active : null" id="step_3" role="tabpanel" aria-labelledby="nav-home-tab">
        <th:block th:replace="steps/steps :: step_3"></th:block>
    </div>
    <div class="tab-pane fade show" th:classappend="${steps[3].status.name().equals('IN_PROGRESS')} ? active : null" id="step_4" role="tabpanel" aria-labelledby="nav-home-tab">
        <th:block th:replace="steps/steps :: step_4"></th:block>
    </div>
    <div class="tab-pane fade show" th:classappend="${steps[4].status.name().equals('IN_PROGRESS')} ? active : null" id="step_5" role="tabpanel" aria-labelledby="nav-home-tab">
        <th:block th:replace="steps/steps :: step_5"></th:block>
    </div>
    <div class="tab-pane fade show" th:classappend="${steps[5].status.name().equals('IN_PROGRESS')} ? active : null" id="step_6" role="tabpanel" aria-labelledby="nav-home-tab">
        <th:block th:replace="steps/steps :: step_6"></th:block>
    </div>
    <div class="tab-pane fade show" th:classappend="${steps[6].status.name().equals('IN_PROGRESS')} ? active : null"  id="step_7" role="tabpanel" aria-labelledby="nav-home-tab">
        <th:block th:replace="steps/steps :: step_7"></th:block>
    </div>
    <div class="tab-pane fade show" th:classappend="${steps[7].status.name().equals('IN_PROGRESS')} ? active : null" id="step_8" role="tabpanel" aria-labelledby="nav-home-tab">
        <th:block th:replace="steps/steps :: step_8"></th:block>
    </div>
    <th:block th:replace="steps/steps:: add_task_modal"></th:block>
    <th:block th:replace="steps/steps:: contaractor_information_modal"></th:block>
</div>
<script>
    (function(){
        var originalAddClassMethod = jQuery.fn.addClass;
        var originalRemoveClassMethod = jQuery.fn.removeClass;

        jQuery.fn.addClass = function(){
            var result = originalAddClassMethod.apply( this, arguments );
            jQuery(this).trigger('classChanged');
            return result;
        }
        jQuery.fn.removeClass = function(){
            var result = originalRemoveClassMethod.apply( this, arguments );
            jQuery(this).trigger('classChanged');
            return result;
        }
    })();


    $('#step_2_link').bind('classChanged', function(){
        if($('#step_2_link').hasClass('active')){

        }
    });

    $('#step_3_link').bind('classChanged', function(){
        if($('#step_3_link').hasClass('active')){
            alert('step_3_changed');
        }
    });

    function getStepData(stepNumber) {
            $.ajax({
                type: 'post',
                url: "/api/portfolios/delete?" +
                    "profileId=" + $('#profile_id').val() +
                    "&portfolioId=" + portfolioId,
                contentType: 'application/json; charset=utf-8',
                beforeSend: function (request) {
                    request.setRequestHeader(header, token);
                },
                success: function (portfolio) {
                    $('#'+portfolioId+'_portf').remove();
                    $('#prtf_id_to_update').val('');
                    $('#portfolioModal').modal('hide');
                },
                error: function (error) {
                    console.log(error);
                    alert(error.responseText);
                }
            })
    }

</script>
</body>
</html>