<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>

<th:block th:fragment="step6">
    <div class="tab-pane fade" id="STEP_6" role="tabpanel" aria-labelledby="nav-contact-tab">

        <div class="card">
            <div class="card-header">
                <h4>Работа с жителями</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="nav flex-column nav-pills"  role="tablist" aria-orientation="vertical" style="width: 27%; margin-right: 3%">
                        <a class="nav-link active" data-toggle="pill" href="#leaflets_layout_pil" role="tab" aria-controls="v-pills-home" aria-selected="true">
                            Разработка макета листовок
                        </a>

                        <a class="nav-link" data-toggle="pill" href="#print_leaflets_pil"
                           role="tab" aria-controls="v-pills-home" aria-selected="true">
                            Печать листовок
                        </a>

                        <a class="nav-link" data-toggle="pill" href="#publication_leaflets_pil"
                           role="tab" aria-controls="v-pills-home" aria-selected="true">
                            Публикация листовок
                        </a>

                        <a class="nav-link" data-toggle="pill" href="#residents_activities_pil"
                           role="tab" aria-controls="v-pills-home" aria-selected="true">
                            Мероприятия с жителями
                        </a>
                        <a href="#" class="text-primary" data-toggle="modal" data-target="#add_task_modal">Задача
                            +</a>
                    </div>
                    <div class="tab-content" style="width: 70%">
                        <div class="tab-pane fade show active" id="leaflets_layout_pil" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div id="task_6_1">
                                <h5>Разработка макета листовок</h5>
                            </div>
                        </div>

                        <div class="tab-pane fade show " id="print_leaflets_pil" role="tabpanel"
                             aria-labelledby="v-pills-home-tab">
                            <div id="task_6_2">
                                <h5>Печать листовок</h5>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="publication_leaflets_pil" role="tabpanel"
                             aria-labelledby="v-pills-home-tab">
                            <div id="task_6_3">
                                <h5>Публикация листовок</h5>

                            </div>
                        </div>

                        <div class="tab-pane fade show" id="residents_activities_pil" role="tabpanel"
                             aria-labelledby="v-pills-home-tab">
                            <div id="task_6_4">
                                <h5>Мероприятия с жителями</h5>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>

    </div>
</th:block>

</body>
</html>