<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>

<th:block th:fragment="step4">
    <div class="tab-pane fade" id="STEP_4" role="tabpanel" aria-labelledby="nav-contact-tab">

        <div class="card">
            <div class="card-header">
                <h4>Взаимодействие с заготовителями</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="nav flex-column nav-pills"  role="tablist"
                         aria-orientation="vertical" style="width: 27%; margin-right: 3%" id="tabList_STEP_4">
                    </div>
                    <div class="tab-content" id = "tabContent_STEP_4" style="width: 70%">
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>