<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>

<th:block th:fragment="step3">
    <div class="tab-pane fade" id="STEP_3" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="card">
            <div class="card-header">
                <h4>Взаимодействие с заготовителями</h4>
            </div>
            <div class="card-body">
                <div>
                    <div class="row" id="accordion">
                        <div id="tabListStep3" class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical" style="width: 27%; margin-right: 3%">
                        </div>
                        <div id="tabContentStep3" class="tab-content" style="width: 70%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Модальное окно добавления таски -->
    <div class="modal fade" id="add_task_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <label><h6>Задача:</h6></label><br/>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="name_of_task" placeholder="Навзвание задачи">
                    </div>
                    <br>
                    <br>
                    <label><h6>Описание задачи:</h6></label>
                    <textarea class="form-control" rows="5" id="description_of_task"></textarea>
                </div>
                <input type = "hidden" id="step_number_create_task">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-warning" onclick="add_task()">Добавить задачу</a>
                </div>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>
