<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>

<th:block th:fragment="step6">
    <div class="tab-pane fade" id="STEP_6" role="tabpanel" aria-labelledby="nav-contact-tab">

        <div class="card">
            <div class="card-header">
                <h4>Работа с жителями</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="nav flex-column nav-pills" id="tabList_STEP_6" role="tablist" aria-orientation="vertical" style="width: 27%; margin-right: 3%">
                    </div>
                    <div class="tab-content" id="tabContent_STEP_6" style="width: 70%">
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>

    </div>
</th:block>

</body>
</html>