<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>

<th:block th:fragment="step1">
    <div class="tab-pane fade" id="STEP_1" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="card">
            <div class="card-header">
                <h3>Уточнить информацию о заявителе</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical" style="width: 27%; margin-right: 3%">
                        <a class="nav-link active" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                            Информация о заявителе
                        </a>
                        <a class="nav-link" data-toggle="pill" href="#neighbourhood_inf" role="tab" aria-controls="v-pills-home" aria-selected="false">
                            Информация о соседях
                        </a>
                        <a class="nav-link" href="#container_photo" aria-selected="false" data-toggle="pill" role="tab" aria-controls="v-pills-home">
                            Фото контейнера
                        </a>
                        <a href="#" class="text-primary" data-toggle="modal" data-target="#add_task_modal">Задача
                            +</a>
                    </div>
                    <div class="tab-content" id="v-pills-tabContent" style="width: 70%">
                        <div class="tab-pane fade" id="v-pills-home" role="tabpanel">
                            <div id="task_1">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">ФИО</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="ФИО заявителя">
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">email</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="email">
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Тел.</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="контакная информация">
                                </div>
                                <div class="h6">Статус</div>

                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="resident" name="status">
                                    <label class="form-check-label">Житель, собственник жилья</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="manage_representative"
                                           name="status">
                                    <label class="form-check-label">Представитель управляющей организации (УК, ТСЖ и
                                        т.п.)</label>
                                </div>
                                <br>
                                <div class="h6">Участвует в деятельности движения "Раздельный сбор"</div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input activity" id="monthly"
                                           name="activity">
                                    <label class="form-check-label">Участвую в ежемесячных акциях и сдаю своё
                                        вторсырьё</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input activity" id="volunteer"
                                           name="activity">
                                    <label class="form-check-label">Волонтер на акциях</label>
                                </div>

                                <div class="form-check">
                                    <input type="radio" class="form-check-input activity" id="corrdinator"
                                           name="activity">
                                    <label class="form-check-label">Координатор на акциях</label>
                                </div>

                                <div class="form-check">
                                    <input type="radio" class="form-check-input activity" id="participant"
                                           name="activity">
                                    <label class="form-check-label" for="participant">Участник рабочих групп
                                        движения</label>
                                </div>

                                <div class="form-check">
                                    <input type="radio" class="form-check-input activity" id="no_participate"
                                           name="activity">
                                    <label class="form-check-label" for="participant">Не принимаю участия в
                                        деятельности движения</label>
                                </div>

                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="another_active"
                                           name="activity">
                                    <label class="form-check-label" for="participant">другое</label>
                                </div>
                                <input type="text" class="form-control" id="another_active_input" disabled>
                                <br>
                                <div class="h6">Накопление какого хотелось бы организовать?</div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="paper">
                                    <label class="form-check-label">Бумага/картон</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="glass">
                                    <label class="form-check-label">Стекло</label>
                                </div>
                                <!--<div class="form-check">-->
                                <!--<input type="checkbox" class="form-check-input" id="metal">-->
                                <!--<label class="form-check-label">Металл</label>-->
                                <!--</div>-->
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="hard_plastic">
                                    <label class="form-check-label">Твёрдый пластик</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="soft_plastic">
                                    <label class="form-check-label">Мягкий пластик</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="tetra_pak">
                                    <label class="form-check-label">Тетрапак</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="organic_waste">
                                    <label class="form-check-label">Органические отходы</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="hazardous_waste">
                                    <label class="form-check-label">Опасные отходы (батарейки, лампочки и
                                        т.п.)</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="another_waste">
                                    <label class="form-check-label">другое</label>
                                </div>
                                <input type="text" class="form-control" id="another_waste_input" disabled>
                                <br>

                            </div>

                        </div>
                        <div class="tab-pane fade" id="neighbourhood_inf" role="tabpanel">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d511638.0496814032!2d29.530301548695494!3d59.93900943041817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696378cc74a65ed%3A0x6dc7673fab848eff!2z0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LM!5e0!3m2!1sru!2sru!4v1566243087100!5m2!1sru!2sru"
                                    width="600" height="450" frameborder="0" style="border:0"
                                    allowfullscreen></iframe>
                        </div>
                        <div class="tab-pane fade" id="container_photo" role="tabpanel">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                                           aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>
