<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Registration Form</title>
</head>
<body>
<div class="container">
    <div>
        <h2>Добро пожаловать на форму регистрации MYPAGE</h2>
        <a href="https://oauth.vk.com/authorize?client_id=7104443&display=page&redirect_uri=http://localhost:8080/registration/usercode&response_type=code&v=5.101">Click me to authorize with VK</a>
    </div>

    <div class="form-group">
        <label>Имя:</label>
        <input id="person-name" type="text" class="form-control"  placeholder="Елена">
    </div>
    <div class="form-group">
        <label>Фамилия:</label>
        <input id="person-surname" type="text" class="form-control"  placeholder="Иванова">
    </div>
    <div class="form-group">
        <label>Адрес электронной почты:</label>
        <input id="emailHelp" type="email"  class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label>Пароль:</label>
        <input id="password" type="password"  class="form-control"  placeholder="Password">
    </div>
    <div class="form-group">
        <label>Телефон:</label>
        <input id="phone" type="text"  class="form-control"  placeholder="+7978777777">
    </div>
    <div class="form-group">
        <label>Ссылка vk.com:</label>
        <input id="vk_link" type="text"  class="form-control"  placeholder="https://vk.com/">
    </div>
    <div class="form-group">
        <label>Основной род деятельности:</label>
        <input id="job" type="text"  class="form-control"  placeholder="инженер">
    </div>
    <div class="form-group">
        <label>Чем я точно не хотел бы заниматься:</label>
        <input id="notToDo" type="text"  class="form-control"  placeholder="уборка мусора">
    </div>
    <form method="POST" enctype="multipart/form-data" id="imageUploadForm"
          class="col-lg-6">
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
    </form>

    <button  class="btn btn-primary" onclick="send()">Submit</button>
    <button type="reset" class="btn btn-primary">Reset</button>


    <hr>
    <a href="admin/page">Назад на главную страницу</a>

    <br><br>
</div>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    function send(){
        var person_name = $("#person-name").val();
        var person_surnam = $("#person-surname").val();
        var email =  $("#emailHelp").val();
        var password = $("#password").val();
        var phone = $("#phone").val();
        var vk_link = $("#vk_link").val();
        var job = $("#job").val();
        var notToDo = $("#notToDo").val();
        var jsonObj = {'name':person_name,'surname':person_surnam,
            'phone':phone,'email':email,'link':vk_link,
            'profession':job,'password':password,'notToDo':notToDo};
        $.ajax({
            type: 'POST',
            url: "/api/registration/new",
            data: JSON.stringify(jsonObj),
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            complete: function(json) {

                alert(JSON.stringify(json));
                var form = $('#imageUploadForm')[0];
                var data = new FormData(form);
                data.append("email", email);
                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "/api/registration/update_image",
                    data: data,
                    processData: false,
                    contentType: false,
                    beforeSend: function (request) {
                        //request.setRequestHeader(header, token);
                    },
                    cache: false,
                    timeout: 600000,
                    success: function (image) {
                        /*
                        $('#profile_img').html('<img src="data:image/png;base64,' + image + '" class="img-rounded"' +

                            '                                     alt="profile image">');

                        */

                    },
                    error: function (e) {
                        console.log("ERROR : ", e.responseText);
                        $("#btnSubmit").prop("disabled", false);
                    }
                });
            },
            error: function(e) {
                console.log(e.responseText);
                //console.log(e.message);
            }
        });
    }
</script>
</body>

</html>

