<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
</head>
<body>
<th:block th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <base href="/"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css">
    <link href="/private/css/common_style.css" rel="stylesheet">
</th:block>

<th:block th:fragment="nav">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top shadow">
        <a class="navbar-brand" href="/user" style="white-space: pre"><span class="fa fa-leaf"></span> Eco CRM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active " sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="/admin/usersList" style="color: white;">Список пользователей<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="/admin/getAllAdminPetitionWithUser" style="color: white;">Заявки <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle btn btn-secondary" style="color: white;" href="#" id="dropdown03" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Проекты<span class="sr-only">(current)</span></a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03">
                        <a class="dropdown-item" href="/user_projects">Мои проекты</a>
                        <a class="dropdown-item" href="/projects/all">Все проекты</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle btn btn-info" style="color: white;" href="#" id="dropdown01" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Заявки<span class="sr-only">(current)</span></a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="/petition/getAllPetition">Все заявки</a>
                        <a class="dropdown-item" href="/petition">Добавить заявку</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle btn btn-warning" style="color: white;" href="#" id="dropdown02" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Меню <span class="sr-only">(current)</span></a>
                    <div class="dropdown-menu dropdown-menu-right" style="float: left" aria-labelledby="dropdown02">
                        <a class="dropdown-item" href="/all_users">Все волонтеры</a>
                        <a class="dropdown-item" href="/userinfo">Моя страница</a>
                        <a class="dropdown-item" href="/logout">Выйти</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</th:block>
</body>
</html>
