<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/for_all_pages_layout}"
      lang="en">
<head>
</head>
<body>
<main role="main" class="container-fluid" layout:fragment="content">
    <p style="color: #f71752; font-size: large; margin-left: 5%" >Список волонтеров:</p>
    <div class="row" style="margin-left: 3%; margin-right: 3%" id="allUserTable">
    </div>

<!-- Modal -->
<div id="get_project_info" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content card border-light" id="fff">
            <div class="modal-body" id="f" >
                <div id="fffff">
                    <div id="managerHeader" class="navbar rounded" style="font-size: medium; color: white; margin-top: 3%; box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);">Менеджер проектов:</div>
                    <div id="modalManagerProject">

                    </div>
                    <div id="memberHeader" class="navbar rounded" style="font-size: medium; color: white; margin-top: 5%; box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);">Участник проектов:</div>
                    <div id="modalMemberProject">

                    </div>
                </div>
            </div>
            <div class="modal-footer" id="ff">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="buttonModal">Close</button>
            </div>
            </div>
        </div>
    </div>
</div>


<script>
    var arr = [];
    $(document).ready(function () {
        getAllUsers();
    })

    function getAllUsers() {
        $.ajax({
            url: "/api/user/all/encodephotos",
            type: "GET",
            async: false,
            success: function (users) {
                $.each(users, function (key, user) {
                    let username = '' + user.name + user.surname + '';
                    arr.push(username);

                    $('#allUserTable').append(
                        '<div class="col-sm-3">' +
                        '<div class="card" style="margin-top: 3%">\n' +
                        '                <div class="card-body">\n' +
                        '                    <div id="photo" class="text-center">\n' +
                        '<img src="data:image/png;base64,' + user.photo + '" class="img-rounded" alt="profile image" id = "profile_avatar" sizes="(max-width: 30px) 30px, (min-width: 10px) 10px">' +
                        '                    </div>\n' +
                        '                    <br>\n' +
                        '                    <table class="table">\n' +
                        '                        <tr>\n' +
                        '                            <td><h6> Имя: </h6></td><td><a><h6 id="vk" style="font-size: medium; white-space: pre">'+user.name+' '+user.surname+'</h6></a></td>\n' +
                        '                        </tr>\n' +
                        '                        <tr>\n' +
                        '                            <td><h6> Статус: </h6></td><td><h6 id="profession"><span class="badge badge-pill text-light" style="font-size: small; background-color: #f71752">' + user.status + '</span></h6></td>\n' +
                        '                        </tr>\n' +
                        '                        <tr>\n' +
                        '                            <td><h6></h6></td><td><h6 id="profession">' +
                        '<button class="btn btn-warning" data-toggle="modal" data-target="#get_project_info" onclick="getProjects(' + user.id + ')">Проекты</button>'+
                        '</h6></td>\n' +
                        '                        </tr>\n' +
                        '                    </table>\n' +
                        '                </div>\n' +
                        '            </div> </div>');
                });
            }
        });
    }

    function getProjects(id) {
        $.ajax({
            url: "/api/project/manager/" + id,
            type: "GET",
            async: false,
            success: function (projects) {
                $('#fffff').remove();
                $('#f').append(
                    '<div id="fffff">\n' +
                    '                    <div id="managerHeader" class="navbar rounded" style="font-size: medium; color: white; margin-top: 3%; box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);">Менеджер проектов:</div>\n' +
                    '                    <div id="modalManagerProject">\n' +
                    '                        \n' +
                    '                    </div>\n' +
                    '                    <div id="memberHeader" class="navbar rounded" style="font-size: medium; color: white; margin-top: 5%; box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);">Участник проектов:</div>\n' +
                    '                    <div id="modalMemberProject">\n' +
                    '\n' +
                    '                    </div>\n' +
                    '                </div>'
                );

                if (projects.length == 0) {
                    $('#managerHeader').remove();
                }
                $.each(projects, function (key, project) {
                    $('#modalManagerProject').append(
                        '<div id="fffff"><div class="to_delete_ card" style="margin-top: 1%">' +
                        '<div class="card-header"><div style="white-space: pre"><h6>Статус:  <span class="badge badge-pill text-light" style="font-size: medium; background-color: #f71752">' + project.status + '</span></h6></div></div>' +
                        '<div class="card-body">' +
                        '<div style="white-space: pre"><h6>Адреc:  ' + project.petition.addressHome + '</h6></div>' +
                        '<a class="btn btn-warning" href="/steps/' + project.id + '">Перейти</a></div></div></div>'
                    )
                }
                )
            }
        });
        next(id);
    }

    function next(id) {
        $.ajax({
            url: "/api/project/member/" + id,
            type: "GET",
            async: false,
            success: function (projects) {
                if (projects.length == 0) {
                    $('#memberHeader').remove();
                }
                $.each(projects, function (key, project) {
                        $('#modalMemberProject').append(
                            '<div class="to_delete card" style="margin-top: 2%">' +
                            '<div class="card-body">' +
                            '<div><h6>' + project.petition.addressHome + '</h6></div>' +
                            '<div><h6>' + project.status + '</h6></div>' +
                            '<a class="btn btn-warning"  href="/steps/' + project.id + '">Перейти</a></div></div>'
                        )
                    }
                )
            }
        });
    }

</script>
</main>
</body>
</html>