<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <base href="/"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/private/css/common_style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top shadow">
    <a class="navbar-brand" href="/user" style="white-space: pre"><span class="fa fa-leaf"></span> Eco CRM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/user" style="color: white;">Мои проекты <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projects/all" style="color: white;">Все проекты <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/petition/getAllPetition" style="color: white;">Все заявки <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/petition" style="color: white;">Добавить заявку <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/all_users" style="color: white;">Все пользователи <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Меню <span class="sr-only">(current)</span></a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Уведомления</a>
                    <a class="dropdown-item" href="/userinfo">Моя страница</a>
                    <a class="dropdown-item" href="/logout">Выйти</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<input type="hidden" id="UserId" th:value="${id}">
<main role="main" class="container-fluid">
    <button class="btn btn-outline-danger" style="margin-left: 5%" disabled>Выбери проект</button>
    <div class="row" style="margin-left: 3%; margin-right: 3%" id="petitions_area">

    </div>
</main>

<!-- Modal show info-->
<div id="show_message" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content card border-light" style="background-color: lightgreen">
            <div class="modal-body">
                <h3 style="font: icon; font-size: large">Заявка отправлена на обработку</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    let userId = $('#UserId').val();
    $(document).ready(function () {
       getAllPetitions();

    });

    function getAllPetitions() {
        $.ajax({
            url: "/api/petition/all",
            type: "GET",
            async: false,
            success: function (petitions) {
                $.each(petitions, function (key, petition) {
                    $('#petitions_area').append(
                        '<div class="col-sm-4">' +
                        '<div class="card shadow bg-white rounded" style="margin-top: 15px">\n' +
                        '                <div class="card-body">\n' +
                        '                    <div>Адрес: <span class="badge badge-pill text-light" style="font-size: small; background-color: orange">' + petition.adress + '</span></div>\n' +
                        '                    <div>Район: <span class="badge badge-pill text-light" style="font-size: small; background-color: orange">' + petition.area + '</span></div>\n' +
                        '                    <div>Дата поступления заявки: <span  style="font-size: small">'+ petition.data + '</span></div></div>\n' +
                        '<div class="card-footer" style="font-size: medium; color: black">' +
                        '                    <a id="petition_button_' + petition.id + '" onclick="addUserToPetition(' + petition.id + ')" class="btn" style="float:right; margin-top: 15px; background-color: rgb(52, 152, 219); color: white">Курировать проект</a></div>\n' +
                        '            </div></div>'
                    );

                    $.each(petition.userList, function (key, member) {
                        if (member.id == userId) {
                            $('#petition_button_' + petition.id + '').text("Заявка отправлена");
                            $('#petition_button_' + petition.id + '').css({'backgroundColor':'#f71752', 'cursor': 'not-allowed'});
                            $('#petition_button_' + petition.id + '').removeAttr("onclick");
                        }
                    })
                })

            }
        });
    }

    function addUserToPetition(id) {
        $.ajax({
            type: 'put',
            url: '/api/petition/addPetitionUser?id='+id,
            async: false,
            success:function () {
                $('#show_message').modal('show');
                $('#petition_button_' + id + '').text("Заявка отправлена");
                $('#petition_button_' + id + '').css({'backgroundColor' : '#f71752', 'cursor': 'not-allowed'});
                $('#petition_button_' + id + '').removeAttr("onclick");
            }
        });
    }

</script>

</body>
</html>
