<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="/public/css/registration_page.css" rel="stylesheet"></head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script><script src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
    <script src="/public/js/login.js" type="text/javascript"></script>
</head>
<body>
<style>
    .green {
        color: #0bb02b;
    }
    .head-crm {
        vertical-align: super;
        color: #4c40ff;
        font-size: 18px;
    }
</style>
<div class="header-w3l">
    <h1 class="form-signin-heading green">Eco<span class="head-crm">CRM</span> </h1>
</div>
<div class="main-content-agile">
    <div class="sub-main-w3">
        <h2>Войти</h2>
        <form action="#" method="post">
            <!--<div>-->
                <!--<a href="#" class="two-w3ls" ><i class="fa fa-google-plus" aria-hidden="true"></i>Vk</a>-->
                <!--<div class="clear"></div>-->
            <!--</div>-->
            <div class="icon1">
                <input id="email-place" placeholder="Email" name="mail" type="email" required="">
            </div>

            <div class="icon2">
                <input id="password-place" placeholder="Password" name="Password" type="password" required="">
            </div>

            <label class="anim">
                <!--<input type="checkbox" class="checkbox">-->
                <!--<span>Запомнить меня</span>-->
                <!--<a href="#">Напомнить пароль</a>-->
            </label>
            <div class="clear"></div>
            <input onclick="auth()" class="btn" style="background-color: #0bb02b; color: white;" value="Войти">
        </form>
    </div>
</div>
<div class="footer">
</div>
</body>
</html>