<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/public/css/registration_page.css" rel="stylesheet"></head>
    <title>Transparent Sign In Form A Responsive Widget Template :: w3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Transparent Sign In Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <script src="/public/js/login.js" type="text/javascript"></script>

</head>

<script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script><script src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>

<body>
<!--header-->
<div class="header-w3l">
    <!---728x90--->

    <h1>Добро пожаловать</h1>
    <!---728x90--->

</div>
<!--//header-->
<!--main-->
<div class="main-content-agile">
    <div class="sub-main-w3">
        <h2>Войти</h2>
        <form action="#" method="post">
            <!--<div>-->
                <!--<a href="#" class="two-w3ls" ><i class="fa fa-google-plus" aria-hidden="true"></i>Vk</a>-->
                <!--<div class="clear"></div>-->
            <!--</div>-->
            <div class="icon1">
                <input id="email-place" placeholder="Email" name="mail" type="email" required="">
            </div>

            <div class="icon2">
                <input id="password-place" placeholder="Password" name="Password" type="password" required="">
            </div>

            <label class="anim">
                <input type="checkbox" class="checkbox">
                <span>Запомнить меня</span>
                <a href="#">Напомнить пароль</a>
            </label>
            <div class="clear"></div>
            <input onclick="auth()" type="submit" value="Войти">
        </form>
    </div>
</div>
<!--footer-->
<div class="footer">
    <!--<p>&copy; 2017 Transparent Sign In Form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>-->
</div>
<!--//footer-->

</body>
</html>