<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/public/css/login_page.css" rel="stylesheet"></head>
<script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script src="/public/js/login.js" type="text/javascript"></script>
</head>
<body>x
<div class="header-w3l">
    <h1 class="form-signin-heading">Eco<span class="head-crm">CRM</span> </h1>
</div>
<form class="box" action="#" method="post">
    <h3>Вход</h3>
    <input id="email-place" placeholder="Логин" name="mail" type="email" required="">
    <input id="password-place" placeholder="Пароль" name="Password" type="password" required="">
    <input type="submit" name="" value="Войти" onclick="auth()">
</form>
</body>
</html>