<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/commonlayouts}"
      lang="en">
<head>
    <script src="/private/js/person_page_projects.js" type="text/javascript"></script>
</head>
<body>

<main role="main" class="container" layout:fragment="content">
    <h3 style="margin-left: 4%">Мои проекты :</h3>
    <div class="row" style="margin: 3%">
        <div class="col-sm-4" th:each="project : ${projects}">
            <div class="card shadow bg-white rounded" style="margin-top: 15px">
                <div class="card-header" th:text="${project.area}" style="font-size: small">
                </div>
                <div class="card-body">
                    <div>Проект на этапе: <span th:text="${project.number}" class="badge badge-pill text-light" style="font-size: small; background-color: #500a6f"></span></div>
                    <div>Начало проекта: <span th:text="${project.time}" style="font-size: small"></span></div>
                    <a th:href="@{/steps/{id}(id=${project.id})}" class="btn btn-warning" style="float:right; margin-top: 15px">Перейти</a>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>
