<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/for_all_pages_layout}"
      lang="en">
<head>
</head>
<body>
<main role="main" class="container-fluid" layout:fragment="content">
    <input type="hidden" id="UserId" th:value="${id}">
    <p style="color: #f71752; font-size: large; margin-left: 5%" >Все проекты в которых я участвую:</p>
    <div class="row" style="margin-left: 3%; margin-right: 3%" id="users_petition_area">
    </div>

<!-- Modal show info-->
<div id="show_contractor_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content card border-light">
            <div class="modal-body">
                <form id="show_contactForm" action="" method="post">
                    <div class="form-group">
                        <label for="show_name">Название:</label>
                        <textarea id="show_name" class="form-control" name="name" required type="text" placeholder="Компания" disabled></textarea>
                    </div>
                    <div class="form-group">
                        <label for="show_rowType">Тип сырья:</label>
                        <textarea id="show_rowType" class="form-control" name="email" required type="text" placeholder="Тип сырья" disabled></textarea>
                    </div>
                    <div class="form-group">
                        <label for="show_collectorType">Тип накопителя:</label>
                        <textarea id="show_collectorType" class="form-control" required name="message" rows="4" placeholder="Тип накопителя" disabled></textarea>
                    </div>
                    <div class="form-group">
                        <label for="show_link">Сайт компании:</label>
                        <textarea id="show_link" class="form-control" name="phone" required type="text" placeholder="Сайт компании" disabled></textarea>
                    </div>
                    <div class="form-group">
                        <label for="show_contactPerson">Имя менеджера:</label>
                        <textarea id="show_contactPerson" class="form-control" required name="message" rows="4" placeholder="Имя менеджера" disabled></textarea>
                    </div>
                    <div class="form-group">
                        <label for="show_phoneNumber">Номер телефона:</label>
                        <textarea id="show_phoneNumber" class="form-control" required name="message" rows="4" placeholder="Номер телефона" disabled></textarea>
                    </div>
                    <div class="form-group">
                        <label for="show_linkByPerson">Ссылка на соц. сеть:</label>
                        <textarea id="show_linkByPerson" class="form-control" required name="message" rows="4" placeholder="Ссылка на соц. сеть" disabled></textarea>
                    </div>
                    <div class="form-group">
                        <label for="show_description">Условия вывоза:</label>
                        <textarea id="show_description" class="form-control" required name="message" rows="4" placeholder="Условия вывоза" disabled></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="show_buttonModal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal show info-->
<div id="show_message" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content card border-light">
            <div class="modal-body">
                <h3 style="font: icon; font-size: large">Заявка отпралена на обработку</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    let id = $('#UserId').val();
    $(document).ready(function () {
        getAllProjects();

    });

    function getAllProjects() {
        $.ajax({
            url: "/api/project/manager/" + id,
            type: "GET",
            async: false,
            success: function (projects) {
                $.each(projects, function (key, project) {
                $('#users_petition_area').append(
                    '<div class="col-sm-4">' +
                    '<div class="card shadow bg-white rounded" style="margin-top: 15px">\n' +
                    '                <div class="card-header" style="background-color: lightblue">Менеджер проекта</div>\n' +
                    '                <div class="card-body">\n' +
                    '                    <div>Адрес: <span class="badge badge-pill text-light" style="font-size: small; background-color: orange">' + project.petition.addressHome + '</span></div>\n' +
                    '                    <div>Район: <span class="badge badge-pill text-light" style="font-size: small; background-color: orange">' + project.petition.houseDistrict + '</span></div>\n' +
                    '                    <div>Дата поступления заявки: <span  style="font-size: small">'+ project.petition.data + '</span></div></div>\n' +
                                        '<div class="card-footer" style="font-size: medium; color: black">' +
                    '                    <a href="/project/' + project.id + '" class="btn" style="float:right; margin-top: 15px; margin-right: 5px; background-color: rgb(52, 152, 219); color: white">Перейти</a>\n' +
                    '            </div></div>'
                )
            })
        }
        });

        $.ajax({
            url: "/api/project/member/" + id,
            type: "GET",
            async: false,
            success: function (projects) {
                $.each(projects, function (key, project) {
                    $('#users_petition_area').append(
                        '<div class="col-sm-4">' +
                        '<div class="card shadow bg-white rounded" style="margin-top: 15px">\n' +
                        '                <div class="card-header" style="background-color: #9fcdff">Участник проекта</div>\n' +
                        '                <div class="card-body">\n' +
                        '                    <div>Адрес: <span class="badge badge-pill text-light" style="font-size: small; background-color: orange">' + project.petition.addressHome + '</span></div>\n' +
                        '                    <div>Район: <span class="badge badge-pill text-light" style="font-size: small; background-color: orange">' + project.petition.houseDistrict + '</span></div>\n' +
                        '                    <div>Дата поступления заявки: <span  style="font-size: small">'+ project.petition.data + '</span></div></div>\n' +
                        '<div class="card-footer" style="font-size: medium; color: black">' +
                        '                    <a href="/steps/' + project.id + '" class="btn" style="float:right; margin-top: 15px; margin-right: 5px; background-color: rgb(52, 152, 219); color: white">Перейти</a>\n' +
                        '            </div></div>'
                    )
                })
            }
        });
    }

    function showProject() {
        $.ajax({
            url: "/api/project/" + id,
            type: "GET",
            async: false,
            success: function (projects) {

            }})
    }

</script>
</main>
</body>
</html>

