<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/private/css/common_style.css" rel="stylesheet">
</head>
<body>

<nav class="navbar fixed-top flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" style="white-space: pre"><span class="fa fa-leaf"></span>    Eco CRM</a>
    <ul class="navbar-nav px-lg-5"><li class="nav-item text-nowrap"><a style="color: #007c5d" href="#">Войти</a></li></ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" style="white-space: pre"><span class="fa fa-home"></span>    Личный кабинет</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="white-space: pre"><span class="fa fa-align-justify"></span>    Мои проекты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="white-space: pre"><span class="fa fa-align-left"></span>    Все проекты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="white-space: pre"><span class="fa fa-map-marker"></span>    Карта</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="row" style="margin: 3%">
                <div class="col-sm-12">
                    <div class="card shadow bg-white rounded">
                        <div class="card-header">
                            Мои проекты
                        </div>
                        <div class="card-body">
                            Список ...
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

</body>
</html>