<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/for_all_pages_layout}"
      lang="en">
<head>
</head>
<body>
<main role="main" class="container-fluid" layout:fragment="content">
    <p style="color: #f71752; font-size: large; margin-left: 5%" >Заявки волонтеров на участие в проекте:</p>
    <div class="row" style="margin-right: 3%; margin-left: 3%" id="cardes">

    </div>


<!-- Modal show info-->
<div id="show_user_list" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content card border-light">
            <div class="modal-header">Выберите менеджера</div>
            <div class="modal-body" id="f">
                <form id="fffff">

                </form>
            </div>
            <div class="modal-footer">
                <button  class="btn btn-default" onclick="delete_modal()" data-dismiss="modal" id="add_buttonModal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $( document ).ready(function() {
        getAllPetitions();
    })

    function getAllPetitions() {
        $.ajax({
            url: "/api/petition/getAllAdminPetitionWithUserRest",
            type: "GET",
            async: false,
            success: function (petitions) {
                $.each(petitions, function (key, petition) {
                    $('#cardes').append('<div class="col-sm-3" id="card_' + petition.id + '">' +
                    '<div class="card shadow bg-white rounded" style="margin-top: 15px">' +
                    '<div  class="card-header" style="background-color: lightblue">Дата поступления заявки:' + '<div style="font-size: large">' +petition.data + '</div></div>' +
                    '<div class="card-body">' +
                        '<p style="font-size: medium">Адрес:'+ '<span class="badge badge-pill text-light" style="float: right; font-size: small; background-color: #f71752">' + petition.adress + '</span></p>' +
                        '<p style="font: medium;">Район:' + '<span class="badge badge-pill text-light" style="float: right; font-size: small; background-color: #007bff">' + petition.area + '</span></p>' +
                    '<a class="btn btn-warning" data-toggle="modal" data-target="#show_user_list" onclick="show_users('+petition.id+')" style="float: right">Участники</a>'+
                    '</div>'+
                    '</div></div>');
                })
            }
        })};

    function show_users(petitionId) {
        $.ajax({
            url: "/api/petition/" + petitionId,
            type: "GET",
            async: false,
            success: function (petition) {
                $('#fffff').remove();
                $.each(petition.userPetition, function (key, user) {
                    $('#f').append(
                        '<div id="fffff"><div class="card" id="modal_user_info_' + user.id + '" style="margin-top: 3%">\n' +
                        '                <div class="card-body">\n' +
                        '                    <br>\n' +
                        '                    <table class="table">\n' +
                        '                        <tr>\n' +
                        '                            <td><h6> Имя и Фамилия: </h6></td><td><a><h6 id="vk" style="font-size: medium; white-space: pre">'+user.name+' '+user.surname+'</h6></a></td>\n' +
                        '                        </tr>\n' +
                        '                        <tr>\n' +
                        '                            <td><h6> email: </h6></td><td><a><h6 style="font-size: medium;">' + user.email+'</h6></a></td>\n' +
                        '                        </tr>\n' +
                        '                        <tr>\n' +
                        '                            <td><h6> vk: </h6></td><td><a><h6 style="font-size: medium;">' + user.link + '</h6></a></td>\n' +
                        '                        </tr>\n' +
                        '                        <tr>\n' +
                        '                            <td><h6> phone: </h6></td><td><a><h6 style="font-size: medium;">' + user.phone + '</h6></a></td>\n' +
                        '                        </tr>\n' +
                        '                        <tr>\n' +
                        '                            <td><h6> статус: </h6></td><td><h6 style="font-size: medium;"><span class="badge badge-pill text-light" style="font-size: small; background-color: #f71752">' + user.status + '</span></h6></td>\n' +
                        '                        </tr>\n' +
                        '                        <tr>\n' +
                        '                            <td><h6></h6></td><td><h6 style="font-size: medium;"><a class="btn btn-primary" href="/user/' + user.id + ')">На страницу пользователя</a></h6></td>\n' +
                        '                        </tr>\n' +
                        '                        <tr>\n' +

                        '                            <td><h6></h6></td><td><h6>' +
                        '<button id="manager_button" class="btn btn-warning" onclick="approvedByAdministrator(' + user.id + ',' + petitionId + '">Выбрать менеджером</button>'+
                        '</h6></td>\n' +
                        '                        </tr>\n' +
                        '                    </table>\n' +
                        '                </div>\n' +
                        '            </div></div>')
                })
            }
        })
    }

    function approvedByAdministrator(id, idproject) {
        $.ajax({
            url: '/api/petition/approvedByAdministrator?id='+id +'&idp='+idproject,
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            success: function (){
                $('#add_buttonModal').click();
                $('#card_' + idproject + '').remove()
            },
            error: function (e) {
                alert(e.responseText);
            }
        })
    }

    function delete_modal(){
        $('#fffff').remove();
    }

</script>
</main>
</body>
</html>
