<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid" style="background-color: #54B689;">
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4" style="border-color: #2d4373">
            <div class="card" style="margin-top: 15%">
                <div class="card-header">
                    <h5>Заполните заявку</h5>
                </div>
                <div class="card-body">
                    <form name="petition" action="/api/petition" method="POST">
                        <!-- Email -->
                        <div class="form-group" id="email">
                            <h6>Адрес электронной почты*</h6>
                            <input type="email" class="form-control" name="email"
                                   placeholder="Введите адрес электронной почты"
                                   required>
                        </div>

                        <!-- Username -->
                        <div class="form-group" id="userName">
                            <h6>Как Вас зовут?*</h6>
                            <input type="text" class="form-control" name="userName" placeholder="Введите ваше имя"
                                   required>
                        </div>

                        <!-- Contact Info -->
                        <div class="form-group" id="contactInfo">
                            <h6>Контактная информация (профили в социальных сетях,
                                телефон)</h6>
                            <input type="text" class="form-control" name="contactInformation"
                                   placeholder="Контактная информация">
                        </div>

                        <!-- Petitioner type -->
                        <div class="form-group" id="petitionerType">
                            <div class="form-check">
                                <h6>Ваш статус:</h6>
                                <input class="form-check-input" type="radio" value="Житель, собственник жилья"
                                       name="statusHome">
                                <label class="form-check-label">Житель, собственник жилья</label><br>
                                <input class="form-check-input" type="radio"
                                       value="Представитель управляющей организации (УК, ТСЖ и т.п.)"
                                       name="statusHome">
                                <label class="form-check-label"> Представитель управляющей организации (УК, ТСЖ
                                    и т.п.)</label>
                            </div>
                        </div>

                        <!-- Type of activity -->
                        <div class="form-group" id="typeOfActivity">
                            <div class="form-check">
                                <h6>Участвуете ли Вы в деятельности движения "Раздельный сбор":</h6>
                                <input class="form-check-input" type="radio"
                                       value="Участвую в ежемесячных акциях и сдаю своё вторсырьё" name="trashType">
                                <label class="form-check-label">Участвую в ежемесячных акциях и сдаю своё
                                    вторсырьё</label><br>
                                <input class="form-check-input" type="radio" value="Волонтер на акциях"
                                       name="trashType">
                                <label class="form-check-label">Волонтер на акциях</label><br>
                                <input class="form-check-input" type="radio" value="Координатор на акциях"
                                       name="trashType">
                                <label class="form-check-label">Координатор на акциях</label><br>
                                <input class="form-check-input" type="radio" value="Участник рабочих групп движени"
                                       name="trashType">
                                <label class="form-check-label">Участник рабочих групп движения</label><br>
                                <input class="form-check-input" type="radio"
                                       value="Не принимаю участия в деятельности движения"
                                       name="trashType">
                                <label class="form-check-label">Не принимаю участия в деятельности
                                    движения</label><br>
                                <input class="form-check-input" type="radio" value="Другое" name="trashType">
                                <label lass="form-check-label">Другое</label><br>
                            </div>
                        </div>

                        <!-- Type of raw -->
                        <div class="form-check" id="rawType">
                            <h6>Накопление какого вторсырья Вам бы хотелось организовать?</h6>
                            <input class="form-check-input" type="checkbox" value="Бумага/картон"
                                   name="typeOfRawMaterial">
                            <label class="form-check-label">Бумага/картон</label><br>
                            <input class="form-check-input" type="checkbox" value="Стекло" name="typeOfRawMaterial">
                            <label class="form-check-label">Стекло</label><br>
                            <input class="form-check-input" type="checkbox" value="Металл" name="typeOfRawMaterial">
                            <label class="form-check-label">Металл</label><br>
                            <input class="form-check-input" type="checkbox" value="Твёрдый пластик"
                                   name="typeOfRawMaterial">
                            <label class="form-check-label">Твёрдый пластик</label><br>
                            <input class="form-check-input" type="checkbox" value="Мягкий пластик"
                                   name="typeOfRawMaterial">
                            <label class="form-check-label">Мягкий пластик</label><br>
                            <input class="form-check-input" type="checkbox" value="Тетрапак" name="typeOfRawMaterial">
                            <label class="form-check-label">Тетрапак</label><br>
                            <input class="form-check-input" type="checkbox" value="Органические отходы"
                                   name="typeOfRawMaterial">
                            <label class="form-check-label">Органические отходы</label><br>
                            <input class="form-check-input" type="checkbox"
                                   value="Опасные отходы (батарейки, лампочки и т.п.)"
                                   name="typeOfRawMaterial">
                            <label class="form-check-label">Опасные отходы (батарейки, лампочки и
                                т.п.)</label><br>
                            <input class="form-check-input" type="checkbox" value="Другое"
                                   name="typeOfRawMaterial">
                            <label class="form-check-label">Другое</label><br>
                        </div>
                        <p></p>

                        <!-- Home address -->
                        <div class="form-group" id="homeAddress">
                            <h6>Адрес дома?*</h6>
                            <input type="text" class="form-control" name="homeAddress" placeholder="Адрес дома"
                                   required>
                        </div>

                        <!-- District -->
                        <div class="form-row align-items-center" id="district">
                            <div class="col-auto my-1">
                                <label class="mr-sm-2"><h6>В каком районе расположен дом? *</h6></label>
                                <select class="custom-select mr-sm-2" name="houseArea">
                                    <option selected>Нет района</option>
                                    <option value="Адмиралтейский район">Адмиралтейский район</option>
                                    <option value="Василеостровский район">Василеостровский район</option>
                                    <option value="Выборгский район">Выборгский район</option>
                                    <option value="Калинский район">Калинский район</option>
                                    <option value="Колпинский район">Колпинский район</option>
                                    <option value="Красногвардейский район">Красногвардейский район</option>
                                    <option value="Красносельский район">Красносельский район</option>
                                    <option value="Кронштадский район">Кронштадский район</option>
                                    <option value="Курортный район">Курортный район</option>
                                    <option value="Московский район">Московский район</option>
                                    <option value="Невский район">Невский район</option>
                                    <option value="Петроградский район">Петроградский район</option>
                                    <option value="Петродворцовый район">Выборгский район</option>
                                    <option value="Приморский район">Приморский район</option>
                                    <option value="Пушкинский район">Пушкинский район</option>
                                    <option value="Фрунзенский район">Фрунзенский район</option>
                                    <option value="Центральный район">Центральный район</option>
                                    <option value="Всеволожский район ЛО">Всеволожский район ЛО</option>
                                    <option value="Гатчинский район">Гатчинский район</option>
                                    <option value="Кировский район">Кировский район</option>
                                    <option value="Сосновоборский район">Сосновоборский район</option>
                                    <option value="Тосненский район">Тосненский район</option>
                                    <option value="Другой район">Другой район</option>
                                </select>
                            </div>
                        </div>

                        <!-- Flats count -->
                        <div class="form-group" id="flatsCount">
                            <h6>Сколько квартир в доме?</h6>
                            <input type="text" class="form-control" name="flatsCount" placeholder="Колличество квартир">
                        </div>

                        <!-- Management company type -->
                        <div class="form-check" id="manag_comp_type">
                            <h6>Какая форма управления Вашим домом</h6>
                            <input class="form-check-input" type="radio" value="Товарищество собственников жилья (ТСЖ)"
                                   name="homeControlForm">
                            <label class="form-check-label">Товарищество собственников жилья
                                (ТСЖ)</label><br>
                            <input class="form-check-input" type="radio" value="Управляющая компания (УК)"
                                   name="homeControlForm">
                            <label class="form-check-label">Управляющая компания (УК)</label><br>
                            <input class="form-check-input" type="radio" value="Жилищно-коммунальная служба (ЖКС)"
                                   name="homeControlForm">
                            <label class="form-check-label">Жилищно-коммунальная служба (ЖКС)</label><br>
                            <input class="form-check-input" type="radio" value="Другая" name="homeControlForm">
                            <label class="form-check-label">Другая</label><br>
                        </div>
                        <p></p>

                        <!-- House council info -->
                        <div class="form-check" id="manag_comp_council_available">
                            <h6>Есть ли совет многоквартирного дома?</h6>
                            <input class="form-check-input" type="radio" value="Да" name="houseCouncil">
                            <label class="form-check-label">Да</label><br>
                            <input class="form-check-input" type="radio" value="Нет" name="houseCouncil">
                            <label class="form-check-label">Нет</label><br>
                            <input class="form-check-input" type="radio" value="Сомневается" name="houseCouncil">
                            <label class="form-check-label">Сомневается</label><br>
                        </div>
                        <p></p>

                        <!-- Management organization relation -->
                        <div class="form-check" id="manag_rel">
                            <h6>Как управляющая организация относится к РНО?</h6>
                            <input class="form-check-input" type="radio" value="Положительно, ждёт предложений"
                                   name="managementOrganizationRelation">
                            <label class="form-check-label">Положительно, ждёт предложений</label><br>
                            <input class="form-check-input" type="radio"
                                   value="Отрицательно, не верит в раздельный сбор"
                                   name="managementOrganizationRelation">
                            <label class="form-check-label">Отрицательно, не верит в раздельный сбор</label><br>
                            <input class="form-check-input" type="radio" value="Не знаю"
                                   name="managementOrganizationRelation">
                            <label class="form-check-label">Не знаю</label><br>
                        </div>
                        <p></p>

                        <!-- Management company contact information -->
                        <div class="form-group" id="manag_comp_contact">
                            <h6>Контактная информация управления дома (ФИО руководителя, телефон,
                                адрес, часы приёма жильцов и т.п.)</h6>
                            <input type="text" class="form-control" name="boardHouseContactInformation"
                                   placeholder="Контактная информация">
                        </div>
                        <p></p>

                        <!-- Additional Info -->
                        <div class="form-group" id="additional_info">
                            <h6>Дополнительная информация</h6>
                            <input type="text" class="form-control" name="additionalInformation"
                                   placeholder="Дополнительная информация">
                        </div>
                        <p></p>

                        <!-- Container available -->
                        <div class="form-check" id="container_available">
                            <h6>Имеется ли у Вашего дома своя контейнерная площадка (КП)?</h6>
                            <input class="form-check-input" type="radio" value="да" name="containerAvailable">
                            <label class="form-check-label">Да</label><br>
                            <input class="form-check-input" type="radio" value="Нет" name="containerAvailable">
                            <label class="form-check-label">Нет</label><br>
                        </div>
                        <p></p>

                        <!-- KP size info -->
                        <div class="form-group" id="kp_info">
                            <h6>Если КП имеется, то укажите её площадь и особенности устройства</h6>
                            <input type="text" class="form-control" name="containerSize" placeholder="Введите текст">
                        </div>
                        <p></p>

                        <!-- KP place owner -->
                        <div class="form-check" id="kp_owner">
                            <h6>Если КП имеется, то укажите собственника земли, на которой она находится</h6>
                            <input class="form-check-input" type="radio" value="Собственник дома" name="containerOwner">
                            <label class="form-check-label">Собственник дома</label><br>
                            <input class="form-check-input" type="radio" value="Муниципальное образование"
                                   name="containerOwner">
                            <label class="form-check-label">Муниципальное образование</label><br>
                            <input class="form-check-input" type="radio" value="Город (субъект РФ)"
                                   name="containerOwner">
                            <label class="form-check-label">Город (субъект РФ)</label><br>
                            <input class="form-check-input" type="radio" value="Другое" name="containerOwner">
                            <label class="form-check-label">Другое</label><br>
                        </div>
                        <p></p>

                        <!-- Chute available -->
                        <div class="form-check">
                            <h6>Имеется ли в Вашем доме мусоропровод?</h6>
                            <input class="form-check-input" type="radio" value="Да" name="garbage">
                            <label class="form-check-label">Да</label><br>
                            <input class="form-check-input" type="radio" value="Нет" name="garbage">
                            <label class="form-check-label">Нет</label><br>
                        </div>
                        <p></p>

                        <!-- Export garbage company info -->
                        <div class="form-group">
                            <h6>Какая компания занимается вывозом ТКО?</h6>
                            <input type="text" class="form-control" name="exportGarbage" placeholder="Введите текст">
                        </div>
                        <p></p>

                        <!-- Agreement -->
                        <div class="form-inline" id="agreement">
                            <h6>Настоящим я даю свое согласия на сбор</h6>
                            <input class="form-check" type="checkbox" value="Да" name="agreement"
                                   style="margin-left:auto;margin-right:0px" required>
                        </div>
                        <p></p>
                        <button type="submit" class="btn btn-primary float-right">Отправить заявку</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>
</body>
</html>