<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="/public/css/registration_page.css" rel="stylesheet"></head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script><script src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
    <script src="/public/js/login.js" type="text/javascript"></script>
</head>
<body>
<style>
    .green {
        color: #0bb02b;
    }
    .head-crm {
        vertical-align: super;
        /*color: #4c40ff;*/
        color: #0bb02b;
        font-size: 18px;
    }
    label {
        color: white;
    }
    div {
        color: white;
    }

</style>
<div class="header-w3l">
    <h1 class="form-signin-heading green">Eco<span class="head-crm">CRM</span> </h1>
</div>
<div class="main-content-agile">
    <div class="sub-main-w3">
        <h2>Заполните форму</h2>
        <form name="petition" action="/api/petition" method="POST">
            <div class="form-group">
                <label for="formGroupExampleInput">Адрес электронной почты*</label>
                <input type="text" class="form-control" name="email" placeholder="Введите адрес электронной почты"
                       required>
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput2">Как Вас зовут?*</label>
                <input type="text" class="form-control" name="userName" placeholder="Введите ваше имя" required>
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput2">Контактная информация (профили в социальных сетях, телефон)</label>
                <input type="text" class="form-control" name="contactInformation"
                       placeholder="Контактная информация">
            </div>

            <div class="form-check">
                Ваш статус<br>
                <input class="form-check-input" type="checkbox" value="Житель, собственник жилья" name="statusHome">
                <label class="form-check-label" for="defaultCheck1">Житель, собственник жилья</label><br>
                <input class="form-check-input" type="checkbox"
                       value="Представитель управляющей организации (УК, ТСЖ и т.п.)" name="statusHome">
                <label class="form-check-label" for="defaultCheck1"> Представитель управляющей организации (УК, ТСЖ
                    и т.п.)</label>
            </div>
            <p></p>

            <div class="form-check">
                Участвуете ли Вы в деятельности движения "Раздельный сбор"<br>
                <input class="form-check-input" type="checkbox"
                       value="Участвую в ежемесячных акциях и сдаю своё вторсырьё" name="trashType">
                <label class="form-check-label" for="defaultCheck1">Участвую в ежемесячных акциях и сдаю своё
                    вторсырьё</label><br>
                <input class="form-check-input" type="checkbox" value="Волонтер на акциях"
                       name="trashType">
                <label class="form-check-label" for="defaultCheck1">Волонтер на акциях</label><br>
                <input class="form-check-input" type="checkbox" value="Координатор на акциях"
                       name="trashType">
                <label class="form-check-label" for="defaultCheck1">Координатор на акциях</label><br>
                <input class="form-check-input" type="checkbox" value="Участник рабочих групп движени"
                       name="trashType">
                <label class="form-check-label" for="defaultCheck1">Участник рабочих групп движени</label><br>
                <input class="form-check-input" type="checkbox" value="Не принимаю участия в деятельности движения"
                       name="trashType">
                <label class="form-check-label" for="defaultCheck1">Не принимаю участия в деятельности
                    движения/label><br>
                    <label for="formGroupExampleInput2">Другое</label>
                    <input type="text" class="form-control" name="trashType" placeholder="Другое">
                </label>
            </div>
            <p></p>

            <div class="form-check">
                Накопление какого вторсырья Вам бы хотелось организовать?<br>
                <input class="form-check-input" type="checkbox" value="Бумага/картон" name="typeOfRawMaterial">
                <label class="form-check-label" for="defaultCheck1">Бумага/картон</label><br>
                <input class="form-check-input" type="checkbox" value="Стекло" name="typeOfRawMaterial">
                <label class="form-check-label" for="defaultCheck1">Стекло</label><br>
                <input class="form-check-input" type="checkbox" value="Металл" name="typeOfRawMaterial">
                <label class="form-check-label" for="defaultCheck1">Металл</label><br>
                <input class="form-check-input" type="checkbox" value="Твёрдый пластик" name="typeOfRawMaterial">
                <label class="form-check-label" for="defaultCheck1">Твёрдый пластик</label><br>
                <input class="form-check-input" type="checkbox" value="Мягкий пластик" name="typeOfRawMaterial">
                <label class="form-check-label" for="defaultCheck1">Мягкий пластик</label><br>
                <input class="form-check-input" type="checkbox" value="Тетрапак" name="typeOfRawMaterial">
                <label class="form-check-label" for="defaultCheck1">Тетрапак</label><br>
                <input class="form-check-input" type="checkbox" value="Органические отходы"
                       name="typeOfRawMaterial">
                <label class="form-check-label" for="defaultCheck1">Органические отходы</label><br>
                <input class="form-check-input" type="checkbox" value="Опасные отходы (батарейки, лампочки и т.п.)"
                       name="typeOfRawMaterial">
                <label class="form-check-label" for="defaultCheck1">Опасные отходы (батарейки, лампочки и
                    т.п.)</label><br>
                <label for="formGroupExampleInput2">Другое</label>
                <input type="text" class="form-control" name="trashType" placeholder="Другое">
            </div>
            <p></p>

            <div class="form-group">
                <label for="formGroupExampleInput2">Адрес дома?*</label>
                <input type="text" class="form-control" name="addressHome" placeholder="Адрес дома" required>
            </div>

            <div class="form-row align-items-center">
                <div >
                    <label  for="inlineFormCustomSelect">В каком районе расположен дом? *</label>
                    <select class="custom-select mr-sm-2" name="houseArea">
                        <option selected>С какого вы района?</option>
                        <option value="Адмиралтейский район">Адмиралтейский район</option>
                        <option value="Василеостровский район">Василеостровский район</option>
                        <option value="Выборгский район">Выборгский район</option>
                        <option value="Калинский район">Калинский район</option>
                        <option value="Колпинский район">Колпинский район</option>
                        <option value="Красногвардейский район">Красногвардейский район</option>
                        <option value="Красносельский район">Красносельский район</option>
                        <option value="Кронштадский район">Кронштадский район</option>
                        <option value="Курортный район">Курортный район</option>
                        <option value="Московский район">Московский район</option>
                        <option value="Невский район">Невский район</option>
                        <option value="Петроградский район">Петроградский район</option>
                        <option value="Петродворцовый район">Выборгский район</option>
                        <option value="Приморский район">Приморский район</option>
                        <option value="Пушкинский район">Пушкинский район</option>
                        <option value="Фрунзенский район">Фрунзенский район</option>
                        <option value="Центральный район">Центральный район</option>
                        <option value="Всеволожский район ЛО">Всеволожский район ЛО</option>
                        <option value="Гатчинский район">Гатчинский район</option>
                        <option value="Кировский район">Кировский район</option>
                        <option value="Сосновоборский район">Сосновоборский район</option>
                        <option value="Тосненский район">Тосненский район</option>
                        <option value="Другой район">Другой район</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput2">Сколько квартир в доме?</label>
                <input type="text" class="form-control" name="flatsCount" placeholder="Колличество квартир">
            </div>

            <div class="form-check">
                Какая форма управления Вашим домом<br>
                <input class="form-check-input" type="checkbox" value="Товарищество собственников жилья (ТСЖ)"
                       name="homeControlForm">
                <label class="form-check-label" for="defaultCheck1">Товарищество собственников жилья
                    (ТСЖ)</label><br>
                <input class="form-check-input" type="checkbox" value="Управляющая компания (УК)"
                       name="homeControlForm">
                <label class="form-check-label" for="defaultCheck1">Управляющая компания (УК)</label><br>
                <input class="form-check-input" type="checkbox" value="Жилищно-коммунальная служба (ЖКС)"
                       name="homeControlForm">
                <label class="form-check-label" for="defaultCheck1">Жилищно-коммунальная служба (ЖКС)</label><br>
                <input class="form-check-input" type="checkbox" value="Другая" name="homeControlForm">
                <label class="form-check-label" for="defaultCheck1">Другая</label><br>
            </div>
            <p></p>

            <div class="form-check">
                Есть ли совет многоквартирного дома?<br>
                <input class="form-check-input" type="checkbox" value="Да" name="houseCouncil">
                <label class="form-check-label" for="defaultCheck1">Да</label><br>
                <input class="form-check-input" type="checkbox" value="Нет" name="houseCouncil">
                <label class="form-check-label" for="defaultCheck1">Нет</label><br>
                <input class="form-check-input" type="checkbox" value="Сомневается" name="houseCouncil">
                <label class="form-check-label" for="defaultCheck1">Сомневается</label><br>
            </div>
            <p></p>

            <div class="form-check">
                Как управляющая организация относится к РНО?<br>
                <input class="form-check-input" type="checkbox" value="Положительно, ждёт предложений"
                       name="managementOrganizationRelation">
                <label class="form-check-label" for="defaultCheck1">Положительно, ждёт предложений</label><br>
                <input class="form-check-input" type="checkbox" value="Отрицательно, не верит в раздельный сбор"
                       name="managementOrganizationRelation">
                <label class="form-check-label" for="defaultCheck1">Отрицательно, не верит в раздельный сбор</label><br>
                <input class="form-check-input" type="checkbox" value="Не знаю" name="managementOrganizationRelation">
                <label class="form-check-label" for="defaultCheck1">Не знаю</label><br>
            </div>
            <p></p>

            <div class="form-group">
                <label for="formGroupExampleInput2">Контактная информация правления дома (ФИО руководителя, телефон,
                    адрес, часы приёма жильцов и т.п.)</label>
                <input type="text" class="form-control" name="boardHouseContactInformation"
                       placeholder="Контактная информация">
            </div>
            <p></p>


            <div class="form-group">
                <label for="formGroupExampleInput2">Дополнительная информация</label>
                <input type="text" class="form-control" name="additionalInformation"
                       placeholder="Дополнительная информация">
            </div>
            <p></p>

            <div class="form-check">
                Имеется ли у Вашего дома своя контейнерная площадка (КП)?<br>
                <input class="form-check-input" type="checkbox" value="да" name="containerAvailable">
                <label class="form-check-label" for="defaultCheck1">Да</label><br>
                <input class="form-check-input" type="checkbox" value="Нет" name="containerAvailable">
                <label class="form-check-label" for="defaultCheck1">Нет</label><br>
            </div>
            <p></p>

            <div class="form-group">
                <label for="formGroupExampleInput2">Если КП имеется, то укажите её площадь и особенности
                    устройства</label>
                <input type="text" class="form-control" name="containerSize" placeholder="Введите текст">
            </div>
            <p></p>

            <div class="form-check">
                Если КП имеется, то укажите собственника земли, на которой она находится<br>
                <input class="form-check-input" type="checkbox" value="Cобственик дома" name="containerOwner">
                <label class="form-check-label" for="defaultCheck1">Cобственик дома</label><br>
                <input class="form-check-input" type="checkbox" value="Муниципальное образование"
                       name="containerOwner">
                <label class="form-check-label" for="defaultCheck1">Муниципальное образование</label><br>
                <input class="form-check-input" type="checkbox" value="Город (субъект РФ)" name="containerOwner">
                <label class="form-check-label" for="defaultCheck1">Город (субъект РФ)</label><br>
                <input class="form-check-input" type="checkbox" value="Другое" name="containerOwner">
                <label class="form-check-label" for="defaultCheck1">Другое</label><br>
            </div>
            <p></p>

            <div class="form-check">
                Имеется ли в Вашем доме мусоропровод?<br>
                <input class="form-check-input" type="checkbox" value="Да" name="garbage">
                <label class="form-check-label" for="defaultCheck1">Да</label><br>
                <input class="form-check-input" type="checkbox" value="Нет" name="garbage">
                <label class="form-check-label" for="defaultCheck1">Нет</label><br>
            </div>
            <p></p>

            <div class="form-group">
                <label for="formGroupExampleInput2">Какая компания занимается вывозом ТКО?</label>
                <input type="text" class="form-control" name="exportGarbage" placeholder="Введите текст">
            </div>
            <p></p>

            <div class="form-check">
                Настоящим я даю свое согласия на сбор<br>
                <input class="form-check-input" type="checkbox" value="Да" name="yes">
                <label class="form-check-label" for="defaultCheck1">Да</label><br>
            </div>
            <p></p>
            </select>
            <div class="col-auto my-1">
                <button type="submit" class="btn" style="background-color: #0bb02b; color: white;">Submit</button>
            </div>
        </form>
    </div>
</div>
<div class="footer">
</div>

</body>
</html>
