<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/for_all_pages_layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/private/js/jquery-ui-1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/private/css/projects_table.css">
    <link href="/private/css/common_style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/private/js/projects.js"></script>
    <link href="/public/css/green.css" rel="stylesheet">
    <title>Все пректы</title>
</head>
<body>

<main role="main" class="container-fluid" layout:fragment="content">
    <table class width="100%">
        <tr>
        <td>
            <h3 style="margin-left: 4%;">Все проекты :</h3>
        </td>
        <td style="text-align: right;">
            <div class="dropdown dropright">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Выбрать по району
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item "onclick="sortByArea(this.textContent)">Все районы</a>
                    <a class="dropdown-item "onclick="sortByArea(this.textContent)">Адмиралтейский район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Василеостровский район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Выборгский район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Калинский район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Колпинский район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Красногвардейский район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Красносельский район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Кронштадский район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Курортный район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Московский район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Невский район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Петроградский район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Выборгский район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Приморский район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Пушкинский район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Фрунзенский район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Центральный район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Всеволожский район ЛО</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Гатчинский район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Кировский район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Сосновоборский район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Тосненский район</a>
                    <a class="dropdown-item"onclick="sortByArea(this.textContent)">Другой район</a>
                </div>
                <a class="btn yellow-btn" href="/projects/all">Все проекты</a>
                <a class="btn yellow-btn" href="/projects/selfOnly">Свои проекты</a>
            </div>
        </td>
        </tr>
    </table>
<br>
                <div class="row row-flex flex-nowrap" id="projectsTable">
                </div>
    <script th:inline="javascript">
        $(document).ready(function (){
            var apiHref = [[${apiHref}]];
            fillPage(apiHref);
        });

    </script>
</main>
</body>
</html>