<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/steps_layout}"
      lang="en">
<head>
    <script src="/private/js/project_page.js" type="text/javascript"></script>
    <script src="/private/js/step1.js" type="text/javascript"></script>
    <script src="/private/js/step2.js" type="text/javascript"></script>
    <script src="/private/js/step7.js" type="text/javascript"></script>
</head>
<body>
</body>
</html>