<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
        <!--xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
      <!--xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
      <!--layout:decorate="~{layouts/for_all_pages_layout}"-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/private/js/jquery-ui-1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/private/css/projects_table.css">
    <link href="/private/css/common_style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/private/js/projects.js"></script>
    <link href="/public/css/green.css" rel="stylesheet">
    <link href="/private/css/fonts_style.css" rel="stylesheet">
    <title>Все пректы</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top shadow">
    <a class="navbar-brand" href="/user" style="white-space: pre"><span class="fa fa-leaf"></span> Eco CRM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active " >
                <div class="dropdown dropright">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Выбрать по району
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item "onclick="sortByArea(this.textContent)">Все районы</a>
                        <a class="dropdown-item "onclick="sortByArea(this.textContent)">Адмиралтейский район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Василеостровский район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Выборгский район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Калинский район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Колпинский район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Красногвардейский район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Красносельский район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Кронштадский район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Курортный район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Московский район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Невский район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Петроградский район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Выборгский район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Приморский район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Пушкинский район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Фрунзенский район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Центральный район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Всеволожский район ЛО</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Гатчинский район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Кировский район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Сосновоборский район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Тосненский район</a>
                        <a class="dropdown-item"onclick="sortByArea(this.textContent)">Другой район</a>
                    </div>
                </div>
            </li>
            <li class="nav-item active" >
                <a class="btn btn-outline-light" href="/projects/all">Все проекты</a>
            </li>
            <li class="nav-item active" >
                <a class="btn btn-outline-light" href="/projects/selfOnly">Мои проекты</a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle btn yellow-btn" style="color: white;" href="#" id="dropdown03" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Проекты<span class="sr-only">(current)</span></a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" href="/user_projects">Мои проекты</a>
                    <a class="dropdown-item" href="/projects/all">Все проекты</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle btn yellow-btn" style="color: white;" href="#" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Заявки<span class="sr-only">(current)</span></a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/petition/getAllPetition">Все заявки</a>
                    <a class="dropdown-item" href="/petition">Добавить заявку</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle btn yellow-btn" style="color: white;" href="#" id="dropdown02" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Меню <span class="sr-only">(current)</span></a>
                <div class="dropdown-menu dropdown-menu-right" style="float: left" aria-labelledby="dropdown02">
                    <a class="dropdown-item" href="/all_users">Все волонтеры</a>
                    <a class="dropdown-item" href="/userinfo">Моя страница</a>
                    <a class="dropdown-item" href="/logout">Выйти</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<main role="main" class="container-fluid">
    <div class="row row-flex flex-nowrap" id="projectsTable">
    </div>
    <script th:inline="javascript">
        $(document).ready(function (){
            var apiHref = [[${apiHref}]];
            fillPage(apiHref);
        });

    </script>
</main>
</body>
</html>