<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Registration Form</title>
</head>
<body>
<div class="container">
    <h2>Welcome to Registration Form</h2>
    <p class="h4 mb-4">Enter Your Password</p>

    <form action="#" th:action="@{/registration/new}"
          th:object="${user}" method="POST">
         <input type="text" th:field="*{password}"
               placeholder="Password">
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

    <hr>
    <a th:href="@{/admin/page}">Back Admin Page</a>

    <br><br>
</div>
</body>
</html>