<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/for_all_pages_layout}"
      lang="en">
<head>

    <script src="/private/js/userinfo.js" type="text/javascript"></script>
    <script src="/private/js/requestInfo.js" type="text/javascript"></script>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/starter-template/">
    <link href="/public/css/userinfo.css" rel="stylesheet">

</head>
<body>
<main role="main" class="container-fluid" layout:fragment="content">
<div class="row" style="margin: 3%">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card" >
            <div class="card-header"><p style="float: left; font-size: large">Мои данные</p><button style="float: right" class="btn btn-warning" type="button" onclick="location.href = '/useredit'">Редактировать данные</button></div>
            <table class="table">

                </tr>
                <tr>
                    <td><p style="font-size: large;"> Имя: </p></td><td><p style="font-size: large;" id="name"></p></td>
                </tr>
                <tr>
                    <td><p style="font-size: large;"> Фамилия: </p></td><td><p style="font-size: large;" id="surname"></p></td>
                </tr>
                <tr>
                    <td><p style="font-size: large;"> Почта: </p></td><td><p style="font-size: large;" id="email"></p></td>
                </tr>
                <!--<tr>-->
                    <!--<td><p style="font-size: large;"> Телефон: </p></td><td><p style="font-size: large;" id="phone"></p></td>-->
                <!--</tr>-->
                <tr>
                    <td><p style="font-size: large;"> Ссылка VK: </p></td><td><a href="#"><p style="font-size: large;" id="vk"></p></a></td>
                </tr>
                <tr>
                    <td><p style="font-size: large;"> Профессия: </p></td><td><p style="font-size: large;" id="profession"></p></td>
                </tr>
                <tr>
                    <td><p style="font-size: large;"> Статус: </p></td><td><p style="font-size: large;" id="status"></p></td>
                </tr>
                <tr>
                    <td><p style="font-size: large;"> Не хочет заниматься: </p></td><td><p style="font-size: large;" id="notToDo"></p></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-3">
        <div id="forRequest">
        </div>
    </div>
</div>
</main>
</body>

</html>
